<template>
  <div>
    <h3 v-if="title">{{title}}</h3>
    <a-form :form="formItem" @submit="handleSubmit">
      <a-row :gutter="16">
        <a-col :xs="24" :sm="8" :md="8" :lg="4" :xl="4">
          <a-form-item label="คำนำหน้า">
            <a-select
              v-decorator="[
                          'ref_prefix_id',
                          {rules: [{ required: true, message: 'กรุณาเลือกคำนำหน้า' }]}
                          ]"
              placeholder="เลือกคำนำหน้า"
            >
              <a-select-option
                v-for="title in uprefixData"
                :key="title.id"
                :value="title.id"
              >{{title.name}}</a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :xs="24" :sm="8" :md="8" :lg="7" :xl="7">
          <a-form-item label="ชื่อ">
            <a-input
              v-decorator="[
                            'first_name',
                            {rules: [{ required: true, message: 'กรุณากรอก ชื่อ' }]}
                          ]"
              placeholder="กรอกข้อมูล ชื่อ"
            ></a-input>
          </a-form-item>
        </a-col>
        <a-col :xs="24" :sm="8" :md="8" :lg="7" :xl="7">
          <a-form-item label="นามสกุล">
            <a-input
              v-decorator="[
                            'last_name',
                            {rules: [{ required: true, message: 'กรุณากรอก นามสกุล' }]}
                          ]"
              placeholder="กรอกข้อมูล นามสกุล"
            ></a-input>
          </a-form-item>
        </a-col>
        <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
          <a-form-item
            label="เลขบัตรประจำตัวประชาชน"
            :required="false"
            :validate-status="licenseIdCard.validateStatus"
            :help="licenseIdCard.errorMsg"
          >
            <a-input
              v-decorator="[
                            'idcard',
                            {rules: [{ required: false , message: 'กรุณากรอกข้อมูลเลขบัตรประจำตัวประชาชน'
                            
                            }]}
                          ]"
              placeholder="เลขบัตรประจำตัวประชาชน	"
              maxlength="13"
              @change="licenseError"
              @keypress="isNumber($event)"
            />
          </a-form-item>
        </a-col>
      </a-row>

      <a-row :gutter="10">
        <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
          <a-form-item label="มือถือ">
            <a-input
              v-decorator="['mobile']"
              placeholder="มือถือ"
              @keypress="isNumber($event)"
              maxlength="10"
            ></a-input>
          </a-form-item>
        </a-col>
        <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
          <a-form-item label="โทรศัพท์">
            <a-input
              v-decorator="['tel']"
              maxlength="10"
              @keypress="isNumber($event)"
              placeholder="โทรศัพท์"
            ></a-input>
          </a-form-item>
        </a-col>
        <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
          <a-form-item label="โทรสาร">
            <a-input
              v-decorator="['fax']"
              placeholder="โทรสาร"
              @keypress="isNumber($event)"
              maxlength="10"
            ></a-input>
          </a-form-item>
        </a-col>
        <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="6">
          <a-form-item label="อีเมล์">
            <a-input type="email" v-decorator="['email']" placeholder="อีเมล์" maxlength="100"></a-input>
          </a-form-item>
        </a-col>
      </a-row>

      <a-row :gutter="10">
        <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
          <a-form-item label="ประเภทของผู้ตรวจ">
            <a-select
              v-decorator="[
                          'inspector_type_id',
                          {rules: [{ required: true, message: 'กรุณาเลือกประเภทของผู้ตรวจ' }]}
                          ]"
              placeholder="เลือกประเภทของผู้ตรวจ"
            >
              <a-select-option
                v-for="ins in inspector_type"
                :key="ins.id"
                :value="ins.id"
              >{{ins.name}}</a-select-option>
            </a-select>
          </a-form-item>
        </a-col>

        <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
          <a-form-item label="ตำแหน่ง">
            <a-input v-decorator="['position']" placeholder="กรอกข้อมูลตำแหน่ง"></a-input>
          </a-form-item>
        </a-col>
        <a-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
          <a-form-item label="พนักงานเจ้าหน้าที่เลขที่">
            <a-input v-decorator="['agent_id']" placeholder="กรอกข้อมูลพนักงานเจ้าหน้าที่เลขที่"></a-input>
          </a-form-item>
        </a-col>
      </a-row>

      <a-row :gutter="10">
        <a-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
          <a-form-item label="ได้รับใบอนุญาตเป็นผู้ประกอบวิชาชีพวิศวกรรมควบคุมทุกประเภท">
            <a-select
              v-decorator="[
                          'ref_engineer_level_id',
                          {rules: [{ required: false, message: 'กรุณาเลือกคำนำหน้า' }]}
                          ]"
              placeholder="เลือกได้รับใบอนุญาต"
            >
              <a-select-option
                v-for="refe in refengineerArray"
                :key="refe.id"
                :value="refe.id"
              >{{refe.name}}</a-select-option>
            </a-select>
          </a-form-item>
        </a-col>

        <a-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
          <a-form-item label="เลขที่ทะเบียน">
            <a-input
              v-decorator="['license',
            {rules: [{ required: false, message: 'กรุณากรอกข้อมูลเลขที่ทะเบียน'}]}
            ]"
              placeholder="เลขที่ทะเบียน"
            ></a-input>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="30">
        <a-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
          <a-form-item label="รูปถ่ายใบประกอบวิชาวิศวกรรมควบคุม" class>
            <a-upload
              name="file"
              listType="picture-card"
              class="avatar-uploader"
              :action="ipServer+'/'+'engineer/pic/'+refId+'/'+year"
              :showUploadList="false"
              :beforeUpload="beforeUploadImg"
              @change="handleChangeUpload"
            >
              <!-- :action="ipServer+'/'+'engineer/request/'+requestId" -->
              <img v-if="imageUrl" :src="ipServer+imageUrl" alt="avatar" class="images" />
              <div v-else>
                <a-icon :type="loading ? 'loading' : 'plus'" />
                <div class="ant-upload-text">อัพโหลดรูปภาพ</div>
              </div>
            </a-upload>
          </a-form-item>
        </a-col>
      </a-row>
      <div style="text-align: right;">
        <a-button type="primary" html-type="submit">บันทึกข้อมูล</a-button>
      </div>
    </a-form>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "Examiner",
  props: ["requestId", "ipServer", "refId", "year", "title", "uprefixData"],
  data() {
    return {
      formItem: this.$form.createForm(this),
      titleData: [],
      refengineerArray: [],
      licenseIdCard: {},
      loading: false,
      imageUrl: "",
      inspector_type: [],
      picture_id: "",
      dataItem: []
    };
  },
  mounted() {
    //fetch title
    let that = this;
    this.$nextTick(() => {
      axios.get(`${this.ipServer}/refengineer`).then(response => {
        this.refengineerArray = response.data.data;
      });

      axios.get(`${this.ipServer}/inspector_type`).then(response => {
        this.inspector_type = response.data.data;
      });
      //get team request
      axios
        .get(`${this.ipServer}/inspector/request/${this.requestId}/team`)
        .then(res => {
          that.dataItem = res.data.data;
          that.showDisplayEdit();
        });
    });
  },
  methods: {
    validatorError() {
      if (this.licenseIdCard.validateStatus == "error") {
        return true;
      }
    },
    handleChangeUpload(info) {
      if (info.file.status === "uploading") {
        this.loading = true;
        return;
      }
      if (info.file.status === "done") {
        // Get this url from response in real world.
        if (info.file.response) {
          this.imageUrl = info.file.response.name;
          this.picture_id = info.file.response.id;
          this.loading = false;
        }
      }
    },
    beforeUploadImg(item) {
      let imageType = ["image/png", "image/jpeg", "image/gif", "image/bmp"];
      let imageTypeFind = imageType.find(val => val == item.type);
      let isJPG = false;
      if (imageTypeFind) {
        isJPG = true;
      }
      if (!isJPG) {
        this.$message.error("You can only upload type file!");
      }
      const isLt2M = item.size / 1024 / 1024 < 2;
      if (!isLt2M) {
        this.$message.error("Image must smaller than 2MB!");
      }
      return isJPG && isLt2M;
    },
    beforeUpload(item) {
      const isJPG = item.type === "image/jpeg";
      if (!isJPG) {
        this.$message.error("You can only upload JPG file!");
      }
      const isLt2M = item.size / 1024 / 1024 < 2;
      if (!isLt2M) {
        this.$message.error("Image must smaller than 2MB!");
      }
      return isJPG && isLt2M;
    },

    licenseError(e) {
      const number = e.target.value;
      if (this.checkID(number)) {
        this.licenseIdCard = {
          validateStatus: "success",
          errorMsg: null
        };
      } else {
        this.licenseIdCard = {
          validateStatus: "error",
          errorMsg: "เลขบัตรประจำตัวประชาชน ไม่ถูกต้อง !"
        };
      }
    },
    checkID(id) {
      if (id.length != 13) return false;
      for (var i = 0, sum = 0; i < 12; i++)
        sum += parseFloat(id.charAt(i)) * (13 - i);
      if ((11 - (sum % 11)) % 10 != parseFloat(id.charAt(12))) return false;
      return true;
    },
    isNumber: function(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    handleSubmit(e) {
      let that = this;
      e.preventDefault();
      this.formItem.validateFields((err, values) => {
        if (!err && !this.licenseIdCard.errorMsg) {
          console.log("Received values of form: ", values);

          let post = {
            inspector_type_id: values.inspector_type_id,
            position: values.position,
            agent_id: values.agent_id,
            engineer: {
              ref_engineer_level_id: values.ref_engineer_level_id,
              license: values.license,
              picture_id: this.picture_id
            },
            user_name: {
              ref_prefix_id: values.ref_prefix_id,
              first_name: values.first_name,
              last_name: values.last_name,
              idcard: values.idcard
            },
            communication: {
              mobile: values.mobile,
              tel: values.tel,
              fax: values.fax,
              email: values.email
            }
          };

          axios
            .post(
              `${this.ipServer}/inspector/request/${this.requestId}/team`,
              JSON.stringify([post])
            )
            .then(res => {
              if (res.status == 200) {
                //that.$message.success("บันทึกข้อมูลสำเร็จ");
                // console.log(res.data);
              }
            })
            .catch(error => {
              if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
            });
        }
      });
    },
    showDisplayEdit() {
      if (this.dataItem.length > 0) {
        let findData = this.dataItem.find(item => item);
        if (findData.inspector.length > 0) {
          let inspector = findData.inspector.find(val => val);
          let ref_engineer_level_id = inspector.engineer.ref_engineer_level_id;
          let license = inspector.engineer.license;
          let user_name = inspector.engineer.user_name;
          let picture = inspector.engineer.picture;
          let communication = inspector.engineer.communication;
          let type = inspector.type;
          if (picture) {
            this.imageUrl = picture.name;
            this.picture_id = picture.id;
          }
          let that = this;
          setTimeout(function() {
            if (inspector) {
              that.formItem.setFieldsValue({
                inspector_type_id: inspector.inspector_type_id,
                position: inspector.position,
                agent_id: inspector.agent_id,
                ref_engineer_level_id: ref_engineer_level_id,
                license: license
              });
            }
            if (communication) {
              that.formItem.setFieldsValue({
                mobile: communication.mobile,
                tel: communication.tel,
                fax: communication.fax,
                email: communication.email
              });
            }
            if (user_name) {
              that.formItem.setFieldsValue({
                ref_prefix_id: user_name.ref_prefix_id,
                first_name: user_name.first_name,
                last_name: user_name.last_name,
                idcard: user_name.idcard
              });
            }
          }, 300);
        }
      }
    }
  }
};
</script>

