<template>
  <div id="dashboard">
    <a-card :bordered="false" :loading="loading">
      <h4>รายการคำขอ</h4>
      <div v-for="(item, index) in dataInbox" :key="index">
        <a-divider orientation="left">
          <h5>{{ item.status_name }} ({{ item.results.length }})</h5>
        </a-divider>

        <a-table
          :dataSource="item.results"
          :loading="loading"
          :expandRowByClick="true"
          size="small"
          :pagination="false"
        >
          <a-table-column
            title="ชื่อนิติบุคคล"
            data-index="owner"
            key="owner_name"
            width="30%"
          >
            <template slot-scope="owner">
              <div v-for="itemOwner in owner" :key="itemOwner.id">
                <span>{{ itemOwner.name }}</span> <br />
                <span>{{ itemOwner.type.name }}</span>
              </div>
            </template>
          </a-table-column>
          <a-table-column
            title="ชื่อประกอบการ"
            data-index="sites"
            key="name"
            width="25%"
          >
            <template slot-scope="sites">
              <span>{{ sites.name }}</span>
            </template>
          </a-table-column>
          <a-table-column
            title="ที่อยู่"
            data-index="sites.address"
            key="address"
          >
            <template slot-scope="address">
              <span>
                เลขที่ {{ address.addr1 }} ต.{{ address.district.name }} อ.{{
                  address.district.city.name
                }}
                จ.{{ address.district.city.province.name }} {{ address.code }}
              </span>
            </template>
          </a-table-column>

          <a-table-column title="คำขอจาก" data-index="from" width="7%">
            <template slot-scope="from">
              <span>{{ from }}</span>
            </template>
          </a-table-column>

          <a-table-column title="สถานะ" data-index="workflow" width="10%">
            <template slot-scope="workflow">
              <span>{{ workflow.state_name }}</span>
            </template>
          </a-table-column>

          <p slot="expandedRowRender" slot-scope="itemes" style="margin: 0">
            <a-button
              :type="iteme.css ? iteme.css : 'dashed'"
              v-for="iteme in orderBybtn(itemes.button_next)"
              :key="iteme.id"
              @click="handlebtn(itemes.id, iteme.name, iteme.to_id, iteme)"
              style="margin-right: 10px;"
              >{{ iteme.name }}</a-button
            >&nbsp; &nbsp;
          </p>
        </a-table>
      </div>
    </a-card>

    <a-drawer
      :title="title"
      :width="920"
      @close="onClose"
      :visible="visible"
      :wrapStyle="{
        height: 'calc(100% - 108px)',
        overflow: 'auto',
        paddingBottom: '108px'
      }"
    >
      <!-- :maskClosable="false" -->
      <div v-for="(jsf, index) in actionsJson" :key="index" v-cloak>
        <div v-if="jsf.method === 'schemaForm'">
          <JsonFrom
            :schema="getSchema"
            :uiSchema="jsf.params.uiSchema"
            :formData="getformData"
            @onChange="checkOnChange($event)"
            @onSubmit="onSubmitForm()"
          ></JsonFrom>
        </div>

        <div v-html="jsf.params.data" v-if="jsf.method === 'html'"></div>
        <div v-if="jsf.method === 'iframe'" class="show_iframe">
          <iframe
            :src="jsf.params.src + urlBtnIframe"
            frameborder="0"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>

      <!-- <Shortcomings
        v-if="getto_id ==14"
        :requestId="request_id"
        :dataRequest="dataRequestId"
        :attachedFiles="attachedfilesRaw"
      ></Shortcomings>-->
    </a-drawer>
  </div>
</template>
<style scoped>
[v-cloak] {
  display: none;
}

.show_iframe {
  position: relative;
}
.show_iframe iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
}
</style>
<script>
import axios from "axios";
import Vue from "vue";
import Shortcomings from "@/components/formcheck/Shortcomings";
export default {
  name: "dashboard",
  components: {
    Shortcomings
  },
  data() {
    return {
      dataInbox: [],
      iteme_all_obj: {},
      spinning: true,
      loading: true,
      checkshow: false,
      visible: false,
      request_id: null,
      getto_id: null,
      formData: {},
      title: "",
      dataRequestId: [],
      attachedfilesRaw: [],
      actionsJson: [],
      authorization: "Bearer " + Vue.ls.get("ACCESS_TOKEN"),
      schemaObj: {},
      resObj: {},
      prefetchRaw: [],
      formDataRaw: [],
      urlBtnIframe: ""
    };
  },
  mounted() {
    this.$nextTick(() => {
      window.scrollTo(0, 0);
      let that = this;
      this.getRestApi("/api/auth/inbox").then(res => {
        if (res.status == 200) {
          that.loading = false;
          let itemResponse = res.data.response;
          if (itemResponse.length > 0) {
            let newMapDataResponse = itemResponse.map((val, index) => {
              val.key = index + 1;
              val.status_name = val.workflow.state_name;
              return val;
            });
            that.dataInbox = this.lodash
              .chain(newMapDataResponse)
              .groupBy("status_name")
              .map((items, key) => ({ status_name: key, results: items }))
              .value();
          }
        }
      });
    });
  },

  asyncComputed: {
    getSchema() {
      let newObj = {};
      let schemaNew = this.schemaObj;
      schemaNew.definitions = Object.assign(
        {},
        ...this.prefetchRaw.map(item => {
          newObj = item.definitions;
          return newObj;
        })
      );
      return new Promise(resolve => setTimeout(() => resolve(schemaNew), 200));
    },
    getformData() {
      let newObj = {};
      let formDataNew = {};
      formDataNew = Object.assign({}, ...this.formDataRaw);
      return new Promise(resolve =>
        setTimeout(() => resolve(formDataNew), 200)
      );
    }
  },
  methods: {
    checkOnChange(e) {
      this.formData = e.formData;
    },
    async onSubmitForm() {
      let that = this;
      try {
        const postConfig = this.actionsJson.find(val => val).params.postConfig;
        if (postConfig && postConfig.method === "post") {
          const dataObject = {
            request: this.request_id,
            transition: this.iteme_all_obj,
            formData: this.formData
          };
          // JSON.stringify(dataObject)
          return axios
            .post(`${postConfig.url}`, JSON.stringify(dataObject))
            .then(res => {
              that.$message.success("บันทึกข้อมูลสำเร็จ");
              that.onClose();
            });
        }
      } catch (ex) {
        console.log(ex);
      }
    },
    orderBybtn(data) {
      return this.lodash.orderBy(data, ["weight"], ["asc"]);
    },
    handlebtn(req_id, titleName, to_id, iteme_all) {
      this.actionsJson = JSON.parse(iteme_all.action_before);

      this.visible = true;
      this.title = titleName;
      this.iteme_all_obj = iteme_all;
      this.request_id = req_id;
      let that = this;
      this.getto_id = to_id;
      this.urlBtnIframe = `?id=${iteme_all.id}&workflow=${iteme_all.workflow_id}&from=${iteme_all.from_id}&to=${iteme_all.to_id}&request=${req_id}`;
      if (this.actionsJson) {
        // const newFromdata = this.actionsJson
        //   .map(item => {
        //     if (item && item.method === "schemaForm") {
        //       return item.params.formData;
        //     }
        //   })
        //   .find(val => val);
        // this.formData = newFromdata;
        this.actionsJson.map(val => {
          if (val && val.method === "schemaForm") {
            that.schemaObj = val.params.schema;
            if (val.params.prefetch) {
              val.params.prefetch.map(item => {
                console.log(item);
                if (item.schema) {
                  axios.get(`${item.schema}/${this.request_id}`).then(res => {
                    if (res.status === 200) {
                      that.prefetchRaw.push(res.data.schema);
                    }
                  });
                }
                if (item.formData) {
                  axios.get(`${item.formData}/${this.request_id}`).then(res => {
                    if (res.status === 200) {
                      that.formDataRaw.push(res.data.formData);
                    }
                  });
                }
              });
            }
          }
        });
      }

      // if (to_id == 14) {
      //   this.getRestApi(`/front/${req_id}`).then(res => {
      //     if (res.status == 200) {
      //       that.dataRequestId = res.data.request;
      //     }
      //   });
      // }
      // this.getRestApi(`/attachedfiles/request/383`).then(res => {
      //   if (res.status == 200) {
      //     that.attachedfilesRaw = res.data;
      //   }
      // });
    },
    onClose() {
      this.visible = false;
    },

    getRestApi(api) {
      let headers = {
        headers: {
          Authorization: this.authorization
        }
      };
      return axios.get(`${this.$store.getters.getIpServe + api}`, headers);
    }
  }
};
</script>
