<template>
  <div class="member-upload">
    <a-card :bordered="false">
      <h2>ผู้ตรวจสอบ : {{dataMemberNew.name}}</h2>
      <h3>รายชื่อโรงงาน</h3>

      <dir>
        <a-collapse
          defaultActiveKey="0"
          :bordered="false"
          v-for="(item,index) in dataMemberNew.request"
          :key="keyStr(index)"
        >
          <a-collapse-panel :key="keyStr(index)" :header="item.sites.name">
            <h4>
              {{item.sites.name}}
              <small style="color: gray;">({{item.sites.about}})</small>
            </h4>
            <a-tabs defaultActiveKey="1" tabPosition="top" size="small">
              <a-tab-pane key="0">
                <span slot="tab">
                  <a-icon type="check-circle" />ข้อมูลสถานประกอบการ ฯ
                </span>
              </a-tab-pane>
              <a-tab-pane key="1" v-if="item.drivers.length > 0">
                <span slot="tab">
                  <a-icon type="database" />รายการเครื่องต้นกำลังที่ต้องตรวจสอบ
                </span>
                <a-tabs defaultActiveKey="1" tabPosition="top" type="card" size="small">
                  <a-tab-pane
                    v-for="(dir,key_dtp) in item.drivers"
                    :key="keyStr(key_dtp)"
                    :tab="numberMachine(dir.plant.dtp)"
                  >
                    <!-- tab="เครื่องต้นกำลังที่ 1" -->

                    <a-tabs type="card" tabPosition="left" defaultActiveKey="1">
                      <a-tab-pane :tab="'ข้อมูล'+dir.plant.name" key="1">
                        <a-row v-for="(dtp_list,k_dtp_key) in dir.plant.dtp" :key="k_dtp_key">
                          <a-col :span="10" v-if="dtp_list.type!='n'">{{dtp_list.label}}</a-col>
                          <a-col :span="10">
                            <a-input
                              v-if="dtp_list.type=='a'"
                              disabled
                              :value="switchAttribute(dtp_list)"
                            />
                            <a-select
                              v-model="dtp_list[dtp_list.key]"
                              v-if="dtp_list.type=='d'"
                              class="ant-input"
                            >
                              <a-select-option
                                v-for="model_gen in switchAttribute(dtp_list)"
                                :key="model_gen.id"
                                :value="model_gen.id"
                              >{{model_gen.name}}</a-select-option>
                            </a-select>
                            <a-input v-if="dtp_list.type==null" v-model="dtp_list[dtp_list.key]" />
                            <a-input v-if="dtp_list.type=='s'" v-model="dtp_list[dtp_list.key]" />
                          </a-col>
                        </a-row>
                        <a-row>
                          <a-col :span="4">
                            <a-button
                              type="primary"
                              @click="sendDtpDriver(dir.id,dir.plant.dtp)"
                            >บันทึกข้อมูล</a-button>
                          </a-col>
                        </a-row>
                      </a-tab-pane>
                      <a-tab-pane :tab="'ระบบป้องกันของ'+dir.plant.name" key="2">
                        <a-row v-for="(protc,protc_key) in dir.plant.protect" :key="protc_key">
                          <a-col :span="24">
                            <a-checkbox
                              @change="changeProtc(dir.plant.id,protc,
                          $event)"
                              :checked="protc.result"
                              v-if="protc.type!='n'"
                            >{{protc.item}}</a-checkbox>
                          </a-col>
                        </a-row>

                        <br />
                        <a-row>
                          <a-col :span="4">
                            <a-button
                              type="primary"
                              @click="saveProtect(dir.id,dir.plant.protect)"
                            >บันทึกข้อมูล</a-button>
                          </a-col>
                        </a-row>
                      </a-tab-pane>
                      <a-tab-pane tab="สถานที่ติดตั้งเครื่องต้นกำลัง" key="3">
                        <a-row v-for="(inst,inst_key) in dir.plant.inst" :key="inst_key">
                          <a-col :span="14" v-if="inst.type!='n'">{{inst.item}}</a-col>
                          <a-col :span="10">
                            <a-radio-group
                              v-for="(model,option_key) in instOptions(inst.option)"
                              :key="option_key"
                              v-model="inst.result"
                            >
                              <a-radio-button :value="model">{{model}}</a-radio-button>
                            </a-radio-group>
                          </a-col>
                        </a-row>
                        <a-row>
                          <a-col :span="4">
                            <a-button
                              type="primary"
                              @click="saveInst(dir.id,dir.plant.inst)"
                            >บันทึกข้อมูล</a-button>
                          </a-col>
                        </a-row>
                      </a-tab-pane>
                      <a-tab-pane tab="ข้อมูลรูปภาพ" key="4">
                        <a-row :gutter="8">
                          <a-col v-for="(pic,pic_key) in dir.picpoint" :key="pic_key" :span="23">
                            <a-upload-dragger
                              :ref="'file-'+pic_key"
                              name="file"
                              accept="image/jpeg, image/png"
                              :fileList="[]"
                              :customRequest="picPointUpload"
                              @change="updateImg('driver',item.ref_id,pic,$event)"
                            >
                              <p class="ant-upload-drag-icon">
                                <a-icon type="inbox" />
                              </p>
                              <p class="ant-upload-text">อัพโหลดรูป {{pic.position}}</p>
                            </a-upload-dragger>
                            <a-row>
                              <a-col v-for="(item_picm,index) in pic.picture" :key="index">
                                <div class="ant-upload-list ant-upload-list-picture-card">
                                  <div :class="isCurrentCheck(item_picm.is_current)">
                                    <div class="ant-upload-list-item-info">
                                      <span>
                                        <img :src="ip_server+item_picm.name" width="120" />
                                      </span>
                                    </div>

                                    <span class="ant-upload-list-item-actions">
                                      <i
                                        class="anticon anticon-eye-o"
                                        v-if="item_picm.is_current ==0"
                                      >
                                        <a-tooltip placement="top">
                                          <template slot="title">
                                            <span>ใช้รูปทำรายงาน</span>
                                          </template>
                                          <a-icon
                                            type="check-circle"
                                            @click="updateCurrent(item_picm)"
                                          />
                                        </a-tooltip>
                                      </i>
                                      <i
                                        class="anticon anticon-eye-o"
                                        v-if="item_picm.is_current ==1"
                                      >
                                        <a-tooltip placement="top">
                                          <template slot="title">
                                            <span>ไม่ใช้รูปทำรายงาน</span>
                                          </template>
                                          <a-icon
                                            type="close-circle"
                                            @click="updateCurrent(item_picm)"
                                          />
                                        </a-tooltip>
                                      </i>
                                      <i class="anticon anticon-eye-o">
                                        <a-icon type="eye" @click="handlePreview(item_picm)" />
                                      </i>
                                    </span>
                                    <!---->
                                  </div>
                                </div>

                                <a-modal
                                  :width="700"
                                  :visible="previewVisible"
                                  :footer="null"
                                  @cancel="handleCancel"
                                >
                                  <img style="width: 100%" :src="previewImage" />
                                </a-modal>
                              </a-col>
                            </a-row>
                          </a-col>
                        </a-row>
                      </a-tab-pane>
                    </a-tabs>
                  </a-tab-pane>
                </a-tabs>

                <hr />
              </a-tab-pane>
              <a-tab-pane key="2" v-if="item.gen.length > 0">
                <span slot="tab">
                  <a-icon type="alert" />รายการเครื่องกำหนดไฟฟ้าที่ต้องตรวจสอบ
                </span>
                <a-tabs defaultActiveKey="1" tabPosition="top" type="card">
                  <a-tab-pane
                    v-for="(item_gen,key_gen) in item.gen"
                    :key="keyStr(key_gen)"
                    :tab="'เครื่องที่ '+ keyElectricity(key_gen)+' '+item_gen.gentype.name"
                  >
                    <a-tabs defaultActiveKey="1" tabPosition="left" type="card">
                      <!-- start gen_dtp -->
                      <a-tab-pane key="1" :tab="'ข้อมูล'+item_gen.gentype.name">
                        <a-row
                          v-for="(item_gentype_dtp,k_item_gentype_dtp) in item_gen.gentype.dtp"
                          :key="k_item_gentype_dtp"
                        >
                          <a-col
                            :span="10"
                            v-if="item_gentype_dtp.type!='n'"
                          >{{item_gentype_dtp.label}}</a-col>
                          <a-col :span="10">
                            <a-input
                              v-model="item_gentype_dtp[item_gentype_dtp.key]"
                              :disabled="item_gentype_dtp.type=='a'"
                              v-if="item_gentype_dtp.type=='a'"
                            />
                            <!-- <a-input
                              v-model="item_gentype_dtp[item_gentype_dtp.key]"
                              v-if="item_gentype_dtp.type==null"
                            />-->
                            <a-input
                              v-model="item_gentype_dtp[item_gentype_dtp.key]"
                              v-if="item_gentype_dtp.type==null && item_gentype_dtp.format ==null"
                            />
                            <a-input
                              v-model="item_gentype_dtp[item_gentype_dtp.key]"
                              type="number"
                              v-if="item_gentype_dtp.type==null && item_gentype_dtp.format=='num'"
                              min="0"
                            />

                            <a-select
                              v-model="item_gentype_dtp[item_gentype_dtp.key]"
                              v-if="item_gentype_dtp.type=='o'"
                              class="ant-input"
                              @change="selectgentypeid(item_gen.gentype.dtp,item_gentype_dtp[item_gentype_dtp.key])"
                            >
                              <a-select-option
                                v-for="model_option in switchAttributeOptions(item_gentype_dtp)"
                                :key="model_option.id"
                                :value="model_option.id"
                              >
                                <a-tooltip placement="right">
                                  <template slot="title">
                                    <span>{{model_option.name}}</span>
                                  </template>
                                  {{model_option.name}}
                                </a-tooltip>
                              </a-select-option>
                            </a-select>
                          </a-col>
                        </a-row>
                        <a-row>
                          <a-col :span="7">
                            <a-button
                              type="primary"
                              @click="saveGenUpdate(item_gen.id,item_gen.gentype.dtp)"
                            >บันทึกข้อมูล</a-button>
                          </a-col>
                        </a-row>
                      </a-tab-pane>
                      <!-- end gen_dtp -->
                      <!-- start gen_inst -->
                      <a-tab-pane key="2" :tab="'สถานที่ติดตั้ง'+item_gen.gentype.name">
                        <a-row
                          v-for="(item_gen_inst,key_item_gen_inst) in item_gen.gentype.inst"
                          :key="key_item_gen_inst"
                        >
                          <a-col :span="14">{{item_gen_inst.item}}</a-col>
                          <a-col :span="10">
                            <a-radio-group
                              v-for="(model,option_key) in instOptionsGen(item_gen_inst.option)"
                              :key="option_key"
                              v-model="item_gen_inst.result"
                            >
                              <a-radio-button :value="model">{{model}}</a-radio-button>
                            </a-radio-group>
                          </a-col>
                        </a-row>
                        <a-row>
                          <a-col :span="7">
                            <a-button
                              type="primary"
                              @click="saveGenInst(item_gen.id,item_gen.gentype.inst)"
                            >บันทึกข้อมูล</a-button>
                          </a-col>
                        </a-row>
                      </a-tab-pane>
                      <!-- end gen_inst -->
                      <!-- start gen_protect -->
                      <a-tab-pane key="3" :tab="'ระบบป้องกัน'+item_gen.gentype.name">
                        <a-row
                          v-for="(item_protect,k_item_protect) in item_gen.gentype.protect"
                          :key="k_item_protect"
                        >
                          <a-col :span="10" v-if="item_protect.type!='n'">{{item_protect.label}}</a-col>
                          <a-col :span="10">
                            <a-input
                              v-model="item_protect[item_protect.key]"
                              :disabled="item_protect.type=='a' "
                              v-if="item_protect.type=='a'"
                            />
                            <a-input
                              v-model="item_protect[item_protect.key]"
                              v-if="item_protect.type==null && item_protect.format ==null"
                              :disabled="ref_gen_protect_function_idj"
                            />
                            <a-input
                              v-model="item_protect[item_protect.key]"
                              type="number"
                              v-if="item_protect.type==null && item_protect.format=='num'"
                              :disabled="ref_gen_protect_function_idj"
                              min="0"
                            />
                            <a-select
                              v-model="item_protect[item_protect.key]"
                              v-if="item_protect.type=='d'"
                              class="ant-input"
                              @change="checkRefGenIdj(item_protect.ref_gen_protect_type_id)"
                            >
                              <a-select-option
                                v-for="model_item in switchAttribute(item_protect)"
                                :key="model_item.id"
                                :value="model_item.id"
                              >
                                <a-tooltip placement="right">
                                  <template slot="title">
                                    <span>{{model_item.name}}</span>
                                  </template>
                                  {{model_item.name}}
                                </a-tooltip>
                              </a-select-option>
                            </a-select>

                            <a-select
                              :disabled="ref_gen_protect_function_idj"
                              v-model="item_protect[item_protect.key]"
                              v-if="item_protect.type=='o'"
                              class="ant-input"
                            >
                              <a-select-option
                                v-for="model_option in switchAttributeOptions(item_protect)"
                                :key="model_option.id"
                                :value="model_option.id"
                              >
                                <a-tooltip placement="right">
                                  <template slot="title">
                                    <span>{{model_option.name}}</span>
                                  </template>
                                  {{model_option.name}}
                                </a-tooltip>
                              </a-select-option>
                            </a-select>
                          </a-col>
                        </a-row>
                        <a-row>
                          <a-col :span="7">
                            <a-button
                              type="primary"
                              :disabled="ref_gen_protect_function_idj"
                              @click="saveGenProtect(item_gen.id,item_gen.gentype.protect)"
                            >บันทึกข้อมูล</a-button>
                          </a-col>
                        </a-row>
                      </a-tab-pane>
                      <!-- end gen_protect -->
                      <a-tab-pane key="4" :tab="'ข้อมูลระบบสับเปลี่ยน'">
                        <a-row
                          v-for="(item_array,k_item_array) in item_gen.gentype.exchanges "
                          :key="k_item_array"
                        >
                          <a-col :span="19"></a-col>
                          <a-button
                            type="danger"
                            shape="circle"
                            icon="minus-circle-o"
                            size="small"
                            v-if="k_item_array !=0"
                            @click="removeRowExchang(item_gen.gentype ,k_item_array)"
                          />

                          <a-row
                            v-for="(item_exchange,k_item_exchange) in item_array"
                            :key="k_item_exchange"
                          >
                            <a-col :span="10" v-if="item_exchange.type!='n'">{{item_exchange.label}}</a-col>
                            <a-col :span="10">
                              <a-input
                                :value="k_item_array+1"
                                :disabled="item_exchange.type=='a'"
                                v-if="item_exchange.type=='a'"
                              />
                              <a-input
                                v-model="item_exchange[item_exchange.key]"
                                @input="inputExchange(item_exchange,$event)"
                                v-if="item_exchange.type==null"
                              />
                              <a-select
                                v-model="item_exchange[item_exchange.key]"
                                v-if="item_exchange.type=='d'"
                                class="ant-input"
                              >
                                <a-select-option
                                  v-for="model_item in switchAttribute(item_exchange)"
                                  :key="model_item.id"
                                  :value="model_item.id"
                                >
                                  <a-tooltip placement="right">
                                    <template slot="title">
                                      <span>{{model_item.name}}</span>
                                    </template>
                                    {{model_item.name}}
                                  </a-tooltip>
                                </a-select-option>
                              </a-select>

                              <a-select
                                v-model="item_exchange[item_exchange.key]"
                                v-if="item_exchange.type=='o'"
                                class="ant-input"
                              >
                                <a-select-option
                                  v-for="model_option in switchAttributeOptions(item_exchange)"
                                  :key="model_option.id"
                                  :value="model_option.id"
                                >
                                  <a-tooltip placement="right">
                                    <template slot="title">
                                      <span>{{model_option.name}}</span>
                                    </template>
                                    {{model_option.name}}
                                  </a-tooltip>
                                </a-select-option>
                              </a-select>
                            </a-col>
                          </a-row>
                        </a-row>
                        <a-row>
                          <a-col span="22" offset="1">
                            <a-button
                              style="width: 100%; margin-top: 16px; margin-bottom: 8px"
                              type="dashed"
                              icon="plus"
                              @click="addRowExchange(item_gen.gentype)"
                            >เพิ่มจำนวน</a-button>
                          </a-col>
                        </a-row>
                        <a-row>
                          <a-col>
                            <a-button
                              @click="saveGenExchange(item_gen.id,item_gen.gentype.exchanges)"
                              type="primary"
                            >บันทึกข้อมูล</a-button>
                          </a-col>
                        </a-row>
                      </a-tab-pane>
                      <a-tab-pane key="5" :tab="'ข้อมูลระบบขนานเครื่อง'">
                        <a-row
                          v-for="(item_arr_prrlls,k_arr_prrlls) in  item_gen.gentype.pararells"
                          :key="k_arr_prrlls"
                        >
                          <a-col :span="19"></a-col>
                          <a-button
                            type="danger"
                            shape="circle"
                            icon="minus-circle-o"
                            size="small"
                            v-if="k_arr_prrlls !=0"
                            @click="removeRowPararells(item_gen.gentype ,k_arr_prrlls)"
                          />
                          <a-row
                            v-for="(item_prrlls,k_item_prrlls) in item_arr_prrlls"
                            :key="k_item_prrlls"
                          >
                            <a-col :span="10" v-if="item_prrlls.type!='n'">{{item_prrlls.label}}</a-col>
                            <a-col :span="10">
                              <a-select
                                v-model="item_prrlls[item_prrlls.key]"
                                @select="SelectPrrlls(item_prrlls,$event)"
                                v-if="item_prrlls.type=='d'"
                                class="ant-input"
                              >
                                <a-select-option
                                  v-for="model_prrlls in switchAttribute(item_prrlls)"
                                  :key="model_prrlls.id"
                                  :value="model_prrlls.id"
                                >
                                  <a-tooltip placement="right">
                                    <template slot="title">
                                      <span>{{model_prrlls.name}}</span>
                                    </template>
                                    {{model_prrlls.name}}
                                  </a-tooltip>
                                </a-select-option>
                              </a-select>

                              <a-input
                                :value="k_arr_prrlls+1"
                                :disabled="item_prrlls.type=='a'"
                                v-if="item_prrlls.type=='a' "
                              />
                              <a-input
                                v-model="item_prrlls[item_prrlls.key]"
                                @input="inputExchange(item_prrlls,$event)"
                                :disabled="item_prrlls.type=='a'"
                                v-if="item_prrlls.type==null "
                              />
                            </a-col>
                          </a-row>
                        </a-row>

                        <a-row>
                          <a-col span="22" offset="1">
                            <a-button
                              style="width: 100%; margin-top: 16px; margin-bottom: 8px"
                              type="dashed"
                              icon="plus"
                              @click="addRowPararells(item_gen.gentype)"
                            >เพิ่มจำนวน</a-button>
                          </a-col>
                        </a-row>
                        <a-row>
                          <a-col>
                            <a-button
                              @click="saveGenPararell(item_gen.id,item_gen.gentype.pararells)"
                              type="primary"
                            >บันทึกข้อมูล</a-button>
                          </a-col>
                        </a-row>
                      </a-tab-pane>
                      <a-tab-pane key="6" tab="หม้อแปลงไฟฟ้าที่รับซื้อไฟฟ้าจากการไฟฟ้า">
                        <a-row
                          v-for="(item_transformer_buy,k_item_transformer_buy) in item_gen.gentype.transformer_buy"
                          :key="k_item_transformer_buy"
                        >
                          <a-col
                            :span="10"
                            v-if="item_transformer_buy.type!='n'"
                          >{{item_transformer_buy.label}}</a-col>
                          <a-col :span="10">
                            <a-input
                              v-model="item_transformer_buy[item_transformer_buy.key]"
                              v-if="item_transformer_buy.type ==null && item_transformer_buy.format ==null"
                            />
                            <a-input
                              v-model="item_transformer_buy[item_transformer_buy.key]"
                              type="number"
                              v-if="item_transformer_buy.type==null && item_transformer_buy.format=='num'"
                              min="0"
                            />
                            <a-input
                              v-if="item_transformer_buy.key =='generator_id'"
                              :value="item_transformer_buy.generator_id=item_gen.id"
                              disabled
                            />
                            <a-select
                              v-model="item_transformer_buy[item_transformer_buy.key]"
                              v-if="item_transformer_buy.type=='o'"
                              class="ant-input"
                            >
                              <a-select-option
                                v-for="model_option in switchAttributeOptions(item_transformer_buy)"
                                :key="model_option.id"
                                :value="model_option.id"
                              >
                                <a-tooltip placement="right">
                                  <template slot="title">
                                    <span>{{model_option.name}}</span>
                                  </template>
                                  {{model_option.name}}
                                </a-tooltip>
                              </a-select-option>
                            </a-select>
                          </a-col>
                        </a-row>
                        <a-row>
                          <a-col :span="7">
                            <a-button
                              type="primary"
                              @click="saveTransformerBuy(item_gen.id,item_gen.gentype.transformer_buy)"
                            >บันทึกข้อมูล</a-button>
                          </a-col>
                        </a-row>
                      </a-tab-pane>
                      <a-tab-pane key="7" tab="หม้อแปลงไฟฟ้าที่ใช้จำหน่าย">
                        <a-row
                          v-for="(item_transformer_sale,k_item_transformer_sale_buy) in item_gen.gentype.transformer_sale"
                          :key="k_item_transformer_sale_buy"
                        >
                          <a-col
                            :span="10"
                            v-if="item_transformer_sale.type !='n'"
                          >{{item_transformer_sale.label}}</a-col>
                          <a-col :span="10">
                            <a-input
                              v-model="item_transformer_sale[item_transformer_sale.key]"
                              v-if="item_transformer_sale.type ==null && item_transformer_sale.format ==null"
                            />
                            <a-input
                              v-model="item_transformer_sale[item_transformer_sale.key]"
                              type="number"
                              v-if="item_transformer_sale.type==null && item_transformer_sale.format=='num'"
                              min="0"
                            />
                            <a-input
                              v-if="item_transformer_sale.key =='generator_id'"
                              :value="item_transformer_sale.generator_id=item_gen.id"
                              disabled
                            />

                            <a-select
                              v-model="item_transformer_sale[item_transformer_sale.key]"
                              v-if="item_transformer_sale.type=='o'"
                              class="ant-input"
                            >
                              <a-select-option
                                v-for="model_option in switchAttributeOptions(item_transformer_sale)"
                                :key="model_option.id"
                                :value="model_option.id"
                              >
                                <a-tooltip placement="right">
                                  <template slot="title">
                                    <span>{{model_option.name}}</span>
                                  </template>
                                  {{model_option.name}}
                                </a-tooltip>
                              </a-select-option>
                            </a-select>
                          </a-col>
                        </a-row>
                        <a-row>
                          <a-col :span="7">
                            <a-button
                              type="primary"
                              @click="saveTransformerSale(item_gen.id,item_gen.gentype.transformer_sale)"
                            >บันทึกข้อมูล</a-button>
                          </a-col>
                        </a-row>
                      </a-tab-pane>
                      <a-tab-pane key="8" tab="ข้อมูลรูปภาพ">
                        <a-row :gutter="8">
                          <a-col
                            v-for="(pic_gen,pic_key) in item_gen.picpoint"
                            :key="pic_key"
                            :span="24"
                          >
                            <a-upload-dragger
                              name="file"
                              accept="image/jpeg, image/png"
                              :fileList="[]"
                              :customRequest="picPointUpload"
                              @change="updateImg('gentype',item.ref_id,pic_gen,$event)"
                            >
                              <p class="ant-upload-drag-icon">
                                <a-icon type="inbox" />
                              </p>
                              <p class="ant-upload-text">อัพโหลดรูป {{pic_gen.position}}</p>
                            </a-upload-dragger>
                            <a-row>
                              <a-col v-for="(item_picm,index) in pic_gen.picture" :key="index">
                                <div class="ant-upload-list ant-upload-list-picture-card">
                                  <div :class="isCurrentCheck(item_picm.is_current)">
                                    <div class="ant-upload-list-item-info">
                                      <span>
                                        <img :src="ip_server+item_picm.name" width="140" />
                                      </span>
                                    </div>

                                    <span class="ant-upload-list-item-actions">
                                      <i
                                        class="anticon anticon-eye-o"
                                        v-if="item_picm.is_current ==0"
                                      >
                                        <a-tooltip placement="top">
                                          <template slot="title">
                                            <span>ใช้รูปทำรายงาน</span>
                                          </template>
                                          <a-icon
                                            type="check-circle"
                                            @click="updateCurrent(item_picm)"
                                          />
                                        </a-tooltip>
                                      </i>
                                      <i
                                        class="anticon anticon-eye-o"
                                        v-if="item_picm.is_current ==1"
                                      >
                                        <a-tooltip placement="top">
                                          <template slot="title">
                                            <span>ไม่ใช้รูปทำรายงาน</span>
                                          </template>
                                          <a-icon
                                            type="close-circle"
                                            @click="updateCurrent(item_picm)"
                                          />
                                        </a-tooltip>
                                      </i>
                                      <i class="anticon anticon-eye-o">
                                        <a-icon type="eye" @click="handlePreview(item_picm)" />
                                      </i>
                                    </span>
                                    <!---->
                                  </div>
                                </div>

                                <a-modal
                                  :width="700"
                                  :visible="previewVisible"
                                  :footer="null"
                                  @cancel="handleCancel"
                                >
                                  <img style="width: 100%" :src="previewImage" />
                                </a-modal>
                              </a-col>
                            </a-row>
                          </a-col>
                        </a-row>
                      </a-tab-pane>
                    </a-tabs>
                  </a-tab-pane>
                </a-tabs>
              </a-tab-pane>
              <a-tab-pane key="3">
                <span slot="tab">
                  <a-icon type="file" />สรุปผลการประเมิน
                </span>
              </a-tab-pane>
            </a-tabs>
          </a-collapse-panel>
        </a-collapse>
      </dir>
    </a-card>
  </div>
</template>

<script>
import DetailList from "@/components/tools/DetailList";
import axios from "axios";
import * as moment from "moment";
const DetailListItem = DetailList.Item;
import { setTimeout } from "timers";
import { type } from "os";
import { close } from "fs";
export default {
  name: "UploadMember",
  components: {
    DetailList,
    DetailListItem
  },
  data() {
    return {
      ref_id: "",
      previewVisible: false,
      previewImage: "",
      fileLists: [],
      picData: {},
      dataMember: {},
      dataMemberNew: [],
      ip_server: this.$store.getters.getIpServe,
      drivers_data: [],
      loading: false,
      power_drive: [],
      mainfuel: [],
      dataExchange: [],
      ref_parallel_relay: [],
      ref_gpf: [],
      ref_gpt: [],
      ref_parallel: [],
      exgen: [],
      exdevice: [],
      exotts: [],
      pararell: [],
      year: parseInt(moment().format("YYYY")) + 543,
      ref_gen_protect_function_idj: false
    };
  },
  computed: {},

  mounted() {
    this.$nextTick(() => {
      window.scrollTo(0, 0);
      let that = this;
      this.fetchData();
      this.getRestApi("/plant").then(res => {
        that.power_drive = res.data.data;
      });
      this.getRestApi("/fuel").then(res => {
        that.mainfuel = res.data.data;
      });
      this.getRestApi("/relay").then(res => {
        that.ref_parallel_relay = res.data.relay;
      });
      this.getRestApi("/gpf").then(res => {
        that.ref_gpf = res.data.data;
      });
      this.getRestApi("/gpt").then(res => {
        that.ref_gpt = res.data.data;
      });
      this.getRestApi("/parallel").then(res => {
        that.ref_parallel = res.data.data;
      });
      this.getRestApi("/exdevice").then(res => {
        that.exdevice = res.data.data;
      });
      this.getRestApi("/exgen").then(res => {
        that.exgen = res.data.data;
      });
      this.getRestApi("/exotts").then(res => {
        that.exotts = res.data.data;
      });
      this.getRestApi("/parallel").then(res => {
        that.parallel = res.data.data;
      });
    });
  },
  methods: {
    checkRefGenexchangeId(model, index) {
      if (model.ref_genexchange_id == 21) {
        console.log("ok");
      }
    },
    fetchData() {
      let that = this;
      this.loading = true;
      this.getRestApi("/member/10").then(function(response) {
        if (response.status == 200) {
          that.dataMemberNew = response.data.member;
          that.loading = false;
        }
      });
    },
    saveProtect(driver_id, array) {
      if (array.length > 0) {
        let newProtect = array.map(item => {
          let obj = {
            driver_id: driver_id,
            ref_driverprotect_id: item.id,
            result: item.result
          };
          return obj;
        });
        let that = this;
        let url = `${that.ip_server}/driver/protect/${driver_id}`;
        axios
          .post(url, JSON.stringify(newProtect))
          .then(res => {
            if (res.status == 200) {
              that.$message.success("บันทึกข้อมูลสำเร็จ");
              console.log(res.data);
            }
          })
          .catch(error => {
            if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
          });
      }
    },
    saveInst(driver_id, array) {
      let that = this;
      if (array.length > 0) {
        let newInst = array.map(item => {
          let obj = {
            driver_id: driver_id,
            item: item.id,
            result: item.result
          };
          return obj;
        });
        this.postRestApi(`/driver/inst/${driver_id}`, JSON.stringify(newInst))
          .then(res => {
            if (res.status == 200) {
              that.$message.success("บันทึกข้อมูลสำเร็จ");
              console.log(res.data);
            }
          })
          .catch(error => {
            if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
          });
      }
    },
    isCurrentCheck(data) {
      if (data === 1) {
        return "ant-upload-list-check ant-upload-list-item-done";
      } else {
        return "ant-upload-list-item ant-upload-list-item-done";
      }
    },
    updateCurrent(data) {
      if (data.is_current == 0) {
        data.is_current = 1;
        this.getRestApi(`/picture/pset/${data.id}`);
      } else {
        this.getRestApi(`/picture/punset/${data.id}`);
        data.is_current = 0;
      }
    },
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = this.ip_server + file.name;
      this.previewVisible = true;
    },
    updateImg(type, ref_id_in, array, e) {
      let file = e.file;
      let that = this;
      let url = "";
      if (type == "driver") {
        url = `${this.ip_server}/dimage/${ref_id_in}/${this.year}/${array.driver_id}/${array.id}`;
      } else {
        url = `${this.ip_server}/gimage/${ref_id_in}/${this.year}/${array.generator_id}/${array.id}`;
      }
      const config = { headers: { "Content-Type": "multipart/form-data" } };
      let fd = new FormData();
      fd.append("file", file.originFileObj);
      axios.post(url, fd, config).then(res => {
        if (res.status == 200) {
          that.$message.success("อัพโหลดสำเร็จ !");
          if (res.data.length > 0) {
            console.log(res.data);
            array.picture = res.data;
          }
        } else {
          that.$message.error("ไม่สามารอัพโหลดรูปได้ !");
        }
      });
    },
    picPointUpload(info) {
      const status = info.file.status;
    },
    selectgentypeid(array, value) {
      if (value < 3) {
        array.map(item => {
          if (item.key == "g_type") item.g_type = value;
          return item;
        });
      } else {
        array.map(item => {
          if (item.key == "g_type") item.g_type = null;
          return item;
        });
      }
    },

    SelectPrrlls(array, e) {
      if (e) {
        array[array.key] = e;
      }
    },
    AutoKey(array, key) {
      return key + 1;
    },
    inputExchange(array, e) {
      let dataValue = e.target.value;
      array[array.key] = dataValue;
    },
    inputPararells(array, e) {
      let dataValue = e.target.value;
      array[array.key] = dataValue;
    },
    addRowExchange(array) {
      let exchangesArray = [...array.exchanges[0]];

      let newArray = this.lodash.cloneDeep(exchangesArray).map(item => {
        item[item.key] = null;
        return item;
      });

      array.exchanges.push(newArray);
      array.exchanges.map((val, index) => {
        return val.map(val => {
          val.no = null;
          val.no = index + 1;
        });
      });
    },
    addRowPararells(array) {
      let pararellsArray = array.pararells[0];

      let newArray = this.lodash.cloneDeep(pararellsArray).map(item => {
        item[item.key] = null;
        return item;
      });

      array.pararells.push(newArray);
      array.pararells.map((val, index) => {
        return val.map(val => {
          val.no = null;
          val.no = index + 1;
        });
      });
    },
    removeRowExchang(array, index) {
      let newArrayRemove = array.exchanges.splice(index, 1);
    },
    removeRowPararells(array, index) {
      let newArrayRemove = array.pararells.splice(index, 1);
    },
    saveExchang(array) {
      console.log(array.exchanges);
    },
    savePararells(array) {
      console.log(array.pararells);
    },
    checkRefGenIdj(model) {
      if (model == 4) {
        this.ref_gen_protect_function_idj = true;
      } else {
        this.ref_gen_protect_function_idj = false;
      }
    },
    switchAttribute(model) {
      if (model) {
        switch (model.key) {
          case "power_drive":
            if (model[model.key]) {
              let power_driveNew = this.power_drive.find(item => {
                item.id == model[model.key];
                return item;
              });
              if (power_driveNew.name) return power_driveNew.name;
            } else {
              return model[model.key];
            }
            break;

          case "mainfuel":
            return this.mainfuel;
            break;
          case "ref_parallel_relay_id":
            return this.ref_parallel_relay;
            break;
          case "ref_gen_protect_function_idj":
            return this.ref_gpt;
            break;
          case "ref_gen_protect_type_id":
            if (model.ref_gentype_id == 1) return this.ref_gpt;
            else if (model.ref_gentype_id == 3) return this.ref_gpt;
            break;
          case "ref_genexchange_id":
            return this.exgen;
            break;
          case "ref_breakertrip_id":
            break;
          case "ref_exchangedevices_id":
            return this.exdevice;
            break;
          case "ref_exchange_ott_id":
            return this.exotts;
            break;
          case "ref_pararell_id":
            return this.parallel;
            break;
          case "no":
            return model[model.key];
            break;
          default:
          // code block
        }
      }
    },
    switchAttributeOptions(model) {
      if (model && model.option) {
        let newConvet = JSON.parse(model.option);
        let newReCon = newConvet.map(item => {
          item.id = parseInt(item.id);
          return item;
        });
        return newReCon;
      }
    },
    newArraytoObject(dataArray) {
      var dataOject = this.lodash
        .chain(dataArray)
        .keyBy("key")
        .mapValues(function(item) {
          return item[item.key];
        })
        .value();
      return dataOject;
    },
    saveGenUpdate(gen_id, dataArray) {
      let that = this;
      let newArray = this.lodash.cloneDeep(dataArray);
      let newRawData = newArray.filter(item => item.type != "n");
      let dataJson = this.newArraytoObject(newRawData);
      this.postRestApi(`/gen/update/${gen_id}`, JSON.stringify(dataJson))
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
            console.log(res.data);
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },
    saveGenInst(gen_id, dataArray) {
      let that = this;
      let newArray = this.lodash.cloneDeep(dataArray);
      let newRawData = newArray.filter(item => item.type != "n");
      let newDatajson = dataArray.map(item => {
        let obj = {
          generator_id: gen_id,
          item: item.item,
          result: item.result
        };
        return obj;
      });
      console.log(JSON.stringify(newDatajson));
      this.postRestApi(`/gen/inst/${gen_id}`, JSON.stringify(newDatajson))
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
            console.log(res.data);
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },
    saveGenProtect(gen_id, dataArray) {
      let that = this;
      if (dataArray.length > 0) {
        let newArray = this.lodash.cloneDeep(dataArray);
        let newRawData = newArray.filter(item => item.type != "n");
        this.postRestApi(
          `/gen/protect/${gen_id}`,
          JSON.stringify([this.newArraytoObject(newRawData)])
        )
          .then(res => {
            if (res.status == 200) {
              that.$message.success("บันทึกข้อมูลสำเร็จ");
            }
          })
          .catch(error => {
            if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
          });
      }
    },
    saveGenExchange(gen_id, dataArray) {
      let that = this;
      let newArrayClone = this.lodash.cloneDeep(dataArray);
      let newArrayData = [];
      for (var i in newArrayClone) {
        let newArrayRaw = newArrayClone[i]
          .filter(item => item.type != "n")
          .map(val => {
            val.no = parseInt(i) + 1;
            return val;
          });
        var dataOject = this.lodash
          .chain(newArrayRaw)
          .keyBy("key")
          .mapValues(function(item) {
            return item[item.key];
          })
          .value();
        let newObject = Object.assign(dataOject, {
          exchange_id: newArrayClone[i][i]
            ? newArrayClone[i][i]["exchange_id"]
            : null
        });

        newArrayData.push(dataOject);
      }
      this.postRestApi(`/gen/exchange/${gen_id}`, JSON.stringify(newArrayData))
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
            console.log(res.data);
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
      // console.log(newArrayData);
    },
    saveGenPararell(gen_id, dataArray) {
      let that = this;
      let newArrayClone = this.lodash.cloneDeep(dataArray);
      let newArrayData = [];
      for (var i in newArrayClone) {
        let newArrayRaw = newArrayClone[i]
          .filter(item => item.type != "n")
          .map(val => {
            val.no = parseInt(i) + 1;
            return val;
          });
        let dataOject = this.newArraytoObject(newArrayRaw);
        let newObject = Object.assign(dataOject, {
          pararell_id: newArrayClone[i][i]
            ? newArrayClone[i][i]["pararell_id"]
            : null
        });
        newArrayData.push(dataOject);
      }
      this.postRestApi(`/gen/parallel/${gen_id}`, JSON.stringify(newArrayData))
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
            console.log(res.data);
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },
    saveTransformerBuy(gen_id, dataArray) {
      console.log(dataArray);
      let that = this;
      let newArray = this.lodash.cloneDeep(dataArray);
      let newRawData = newArray.filter(item => item.type != "n");
      let rawDataBuy = this.newArraytoObject(newRawData);
      rawDataBuy["horl"] = "ซื้อ";
      this.postRestApi(`/gen/trsbuy/${gen_id}`, JSON.stringify([rawDataBuy]))
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
            console.log(res.data);
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },
    saveTransformerSale(gen_id, dataArray) {
      let that = this;
      let newArray = this.lodash.cloneDeep(dataArray);
      let newRawData = newArray.filter(item => item.type != "n");
      let rawDataSale = this.newArraytoObject(newRawData);
      rawDataSale["horl"] = "ขาย";
      this.postRestApi(`/gen/trssale/${gen_id}`, JSON.stringify([rawDataSale]))
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
            console.log(res.data);
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },
    changeProtc(plant_id, model, e) {
      if (model) {
        model.result = e.target.checked;
        model["diver_id"] = plant_id;
      }
    },
    keyElectricity(key) {
      let dataKey = key + 1;
      return dataKey;
    },
    instOptions(data) {
      if (data) {
        let removeString = data.slice(1, data.length - 1);
        let setArray = removeString.split(",");
        return setArray;
      } else {
        return [];
      }
    },
    instOptionsGen(data) {
      if (data) {
        let removeString = data.slice(1, data.length - 1);
        let setArray = removeString.split(",");
        return setArray;
      } else {
        return [];
      }
    },
    numberMachine(array) {
      if (array.length > 0) {
        let data = array.find(item => item);
        return "เครื่องต้นกำลังที่ " + data[data.key];
      } else {
        return "เครื่องต้นกำลังที่ ";
      }
    },
    sendDtpDriver(driver_id, array) {
      var result = {};
      let arr = array;
      array.map((item, index) => {
        result[item.key] = item[item.key];
      });
      // for (var i = 0; i < arr.length; i++) {
      //   result[arr[i].key] = arr[i][arr[i].key];
      // }
      let that = this;
      this.postRestApi(`/driver/update/${driver_id}`, JSON.stringify(result))
        .then(res => {
          if (res.status == 200) {
            if (res.data.data == "ok") {
              that.$message.success("บันทึกข้อมูลสำเร็จ !");
              that.fetchData();
            }
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },
    evenInput(model, e) {
      console.log(model);

      return (model[model.key] = e);
    },

    keyStr(key) {
      if (key) {
        let num = key + 1;
        return num.toString();
      } else {
        return "1";
      }
    },
    postRestApi(api, data) {
      return axios.post(`${this.ip_server + api}`, data);
    },
    getRestApi(api) {
      return axios.get(`${this.ip_server + api}`);
    }
  }
};
</script>
<style>
.ant-tabs-tab {
  text-align: left !important;
}
.tb_headSet1 {
  font-size: 11px;
  font-weight: 300;
  color: black;
}
.ant-upload-list-picture-card .ant-upload-list-check {
  float: left;
  width: 104px;
  height: 104px;
  margin: 0 8px 8px 0;
}
.ant-upload-list-picture-card .ant-upload-list-check {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #dc0c0c;
  height: 104px;
  position: relative;
}
.ant-upload-list-check {
  margin-top: 8px;
  font-size: 14px;
  position: relative;
  height: 104px;
}
</style>

