.images {
    width: 320px;
}

.avatar-uploader>.ant-upload {
    width: 128px !important;
    height: 128px !important;
}

.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
}