<template>
  <div class="user-wrapper">
    <a-button type="dashed" class="btn-logout" @click="handleLogout">
      ({{username}})
      <a-icon type="logout" />
      <span>ออกจากระบบ</span>
    </a-button>
  </div>
</template>

<script>
import Vue from "vue";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "ProfileMenu",
  data() {
    return {
      username: Vue.ls.get("USER_NAME") ? Vue.ls.get("USER_NAME") : ""
    };
  },
  computed: {
    // ...mapGetters(["nickname", "avatar"])
  },
  methods: {
    ...mapActions(["Logout"]),
    handleLogout() {
      this.$confirm({
        title: "ต้องการออกจากระบบใช่หรือไม่ ?",
        content: "",
        onOk: () => {
          return this.Logout({})
            .then(() => {
              setTimeout(() => {
                window.location.reload();
              }, 16);
            })
            .catch(err => {
              console.log(err);
              this.$message.error({
                title: "เกิดข้อผิดพลาด !",
                description: err.message
              });
            });
        },
        onCancel() {}
      });
    }
  }
};
</script>
