
<template>
  <div>
    <a-row v-for="(inst, inst_key) in instDataRaw" :key="inst_key">
      <strong>{{ inst.group_name }}</strong>
      <a-row v-for="(con, con_key) in inst.content" :key="con_key">
        <a-col :span="8" v-if="con.section == 'a' || 'b'">{{ con.item }}</a-col>
        <a-col :span="16" v-if="con.section == 'a' && con.type == 'o'">
          <a-row>
            <a-col :span="6">
              <a-radio-group
                v-for="(model, option_key) in convetOptions(con.option)"
                :key="option_key"
                v-model="con.value"
                @change="onChange(con, model)"
              >
                <a-radio :value="model.id">{{ model.name }}</a-radio>
              </a-radio-group>
            </a-col>
            <a-col :span="14" v-if="con.value == 1">
              <input
                class="form-control form-control-sm"
                @change="setDetail(con, con.detail)"
                v-model="con.result_detail"
              />
            </a-col>
          </a-row>
        </a-col>
        <a-col :span="16" v-if="con.section == 'b' && con.type == 'o'">
          <a-row>
            <a-col :span="10">
              <a-radio-group
                v-for="(model, option_key) in convetOptions(con.option)"
                :key="option_key"
                v-model="con.value"
                @change="onChange(con, model)"
              >
                <a-radio :value="model.id">{{ model.name }}</a-radio>
              </a-radio-group>
            </a-col>
          </a-row>
        </a-col>
      </a-row>
      <hr />
    </a-row>
    <a-row>
      <a-col>
        <a-button type="primary" @click="saveInst()">บันทึกข้อมูล</a-button>
      </a-col>
    </a-row>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: ["instData", "driver_id"],
  data() {
    return {
      instDataRaw: this.instData,
      ip_server: this.$store.getters.getIpServe
    };
  },
  mounted() {
    //fetch title
    let that = this;
    this.$nextTick(() => {
      //   axios.get(`${this.ipServer}/refengineer`).then(response => {
      //     this.refengineerArray = response.data.data;
      //   });
      // let newInst = this.instDataRaw.map(item => {
      //   let dataNew = item.content.map(va => {
      //     let obj = {
      //       driver_id: this.driver_id,
      //       item: va.id,
      //       result: va.result,
      //       result_detail: va.result_detail
      //     };
      //     return obj;
      //   });
      //   return dataNew.find(val => val);
      // });
      // console.log(newInst);
    });
  },

  methods: {
    setDetail(item, result) {
      let regex = /X|x/;
      console.log(item);
      if (regex.test(item.detail)) {
        this.$message.error("กรุณากรอกข้อมูลให้ถูกต้อง !");
      } else {
        let arrayOp = JSON.parse(item.option);
        let op = arrayOp.filter(val => {
          if (val.id == item.result) {
            val.result_detail = item.result_detail;
            console.log(val.id);
          }
          return val;
        });
        item.option = JSON.stringify(op);
      }
    },
    onChange(item, option) {
      if (item.value == 1) {
        let detail = item.result_detail ? item.result_detail : option.detail;
        item.result_detail = detail;
      } else {
        delete item.result_detail;
      }
      item.result = option.name;
    },
    convetOptions(data) {
      return JSON.parse(data);
    },
    instOptions(data) {
      if (data) {
        let removeString = data.slice(1, data.length - 1);
        let setArray = removeString.split(",");
        return setArray;
      } else {
        return [];
      }
    },
    saveInst() {
      let that = this;
      let regex = /X|x/;
      let newInst = this.instDataRaw.map(item => {
        return item.content.map(va => {
          let obj = {
            driver_id: this.driver_id,
            item: va.id,
            result: va.result,
            result_detail: va.result_detail
          };
          return obj;
        });
      });
      let dataArray = [];
      let newss = newInst.map(data => {
        return data.map(val => {
          dataArray.push(val);
        });
      });
      let checkX = dataArray.filter(int => {
        if (regex.test(int.result_detail)) {
          return int;
        }
      });
      if (checkX.length > 0) {
        this.$message.error("กรุณากรอกข้อมูลให้ถูกต้อง !");
      } else {
        this.postRestApi(
          `/driver/inst/${this.driver_id}`,
          JSON.stringify(dataArray)
        )
          .then(res => {
            if (res.status == 200) {
              that.$message.success("บันทึกข้อมูลสำเร็จ");
            }
          })
          .catch(error => {
            if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
          });
      }
    },
    postRestApi(api, data) {
      return axios.post(`${this.ip_server + api}`, data);
    },
    getRestApi(api) {
      return axios.get(`${this.ip_server + api}`);
    }
  }
};
</script>

