<template>
  <div>
    <a-row v-for="(inst_gen,inst_gen_key) in instgenRaw" :key="inst_gen_key">
      <a-row>
        <a-col :span="8" v-if="inst_gen.type =='o'">
          <strong>{{inst_gen.item}}</strong>
        </a-col>
        <a-col :span="16" v-if=" inst_gen.type =='o'">
          <a-row>
            <a-col :span="10">
              <a-radio-group v-model="inst_gen.result">
                <a-radio
                  v-for="(model,option_key) in convetOptions(inst_gen.option)"
                  :key="option_key"
                  :value="model.name"
                >{{model.name}}</a-radio>
              </a-radio-group>
            </a-col>
          </a-row>
        </a-col>
      </a-row>
      <hr />
    </a-row>
    <a-row>
      <a-col>
        <a-button type="primary" @click="saveGenInst()">บันทึกข้อมูล</a-button>
      </a-col>
    </a-row>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: ["instgenData", "gen_id"],
  data() {
    return {
      instgenRaw: this.instgenData,
      ip_server: this.$store.getters.getIpServe
    };
  },
  mounted() {
    //fetch title
    let that = this;
    this.$nextTick(() => {});
  },

  methods: {
    setDetail(item, result) {
      let regex = /X|x/;
      if (regex.test(item.detail)) {
        this.$message.error("กรุณากรอกข้อมูลให้ถูกต้อง !");
      } else {
        let arrayOp = JSON.parse(item.option);
        let op = arrayOp.filter(val => {
          if (val.id == item.result) {
            val.result_detail = item.result_detail;
            console.log(val.id);
          }
          return val;
        });
        item.option = JSON.stringify(op);
      }
    },
    onChange(item, option) {
      if (item.value == 1) {
        let detail = item.result_detail ? item.result_detail : option.detail;
        item.result_detail = detail;
      }
      item.result = option.name;
    },
    convetOptions(data) {
      return JSON.parse(data);
    },
    instOptions(data) {
      if (data) {
        let removeString = data.slice(1, data.length - 1);
        let setArray = removeString.split(",");
        return setArray;
      } else {
        return [];
      }
    },
    saveGenInst() {
      let that = this;
      let newArray = this.lodash.cloneDeep(this.instgenRaw);
      let newRawData = newArray.filter(item => item.type != "n");
      let newDatajson = newRawData.map(item => {
        let obj = {
          generator_id: this.gen_id,
          item: item.item,
          result: item.result
        };
        return obj;
      });
      console.log(JSON.stringify(newDatajson));
      this.postRestApi(`/gen/inst/${this.gen_id}`, JSON.stringify(newDatajson))
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
            console.log(res.data);
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },
    postRestApi(api, data) {
      return axios.post(`${this.ip_server + api}`, data);
    },
    getRestApi(api) {
      return axios.get(`${this.ip_server + api}`);
    }
  }
};
</script>

