<template>
  <div class="member-upload">
    <a-card :bordered="false">
      <router-link to="/list-factory">
        <a-button type="dashed" icon="arrow-left">กลับ</a-button>
      </router-link>

      <h6 class="text-right" v-if="item != null">
        {{ item.sites != undefined ? item.sites.name : "" }}
        <small style="color: gray;"
          >({{ item.sites != undefined ? item.sites.about : "" }})</small
        >
      </h6>

      <a-tabs defaultActiveKey="0" tabPosition="top" size="small">
        <a-tab-pane key="0">
          <span slot="tab">
            <a-icon type="check-circle" />ข้อมูลสถานประกอบการ ฯ
          </span>
          <a-tabs type="card" tabPosition="left" defaultActiveKey="3">
            <a-tab-pane tab="ตารางกำหนดการ" key="1">
              <a-row v-for="(model, index) in milestoneSchedule" :key="index">
                <a-col :span="5">
                  <h4
                    style="
    padding-left: 10px;
"
                  >
                    {{ model.label }}
                  </h4>

                  <br />
                </a-col>
                <a-col :span="12">
                  <a-locale-provider :locale="locale">
                    <a-date-picker
                      :format="dateFormat"
                      v-model="model.description"
                      :defaultValue="checkformatMilestone(model.date_value)"
                    />
                  </a-locale-provider>
                </a-col>
              </a-row>
              <a-row>
                <br />
                <a-col :span="4">
                  <a-button type="primary" @click="saveMilestone()"
                    >บันทึกข้อมูล</a-button
                  >
                </a-col>
              </a-row>
            </a-tab-pane>
            <a-tab-pane tab="เอกสารประกอบ" key="2">
              <a-row v-for="(model, index) in attachedFiles" :key="index">
                <a-col :span="16">
                  <label>{{ model.name }}</label>
                </a-col>
                <a-col :span="4">
                  <a-upload
                    name="file"
                    :fileList="[]"
                    :customRequest="attachedFilesUpload"
                    @change="attachedFilesUploadSend(model, $event)"
                  >
                    <a-button>
                      <a-icon type="upload" />อัพโหลดรูปภาพ / เอกสาร
                    </a-button>
                  </a-upload>
                </a-col>
                <a-col :span="24">
                  <a-row>
                    <a-col v-for="(item_att, index) in model.data" :key="index">
                      <div class="ant-upload-list ant-upload-list-picture-card">
                        <div :class="isCurrentCheck(item_att.is_approved)">
                          <div class="ant-upload-list-item-info">
                            <span>
                              <img
                                v-if="getFileExtension(item_att.url) != 'pdf'"
                                :src="ip_server + item_att.url"
                                class="img-responsive"
                              />
                              <img
                                v-if="getFileExtension(item_att.url) == 'pdf'"
                                src="@/assets/img/img-pdf.png"
                                class="img-responsive"
                              />
                            </span>
                          </div>

                          <span class="ant-upload-list-item-actions">
                            <i
                              class="anticon anticon-eye-o"
                              v-if="item_att.is_approved == 1"
                            >
                              <a-tooltip placement="top">
                                <template slot="title">
                                  <span>ไม่ใช้รูปทำรายงาน</span>
                                </template>
                                <a-icon type="close-circle" />
                              </a-tooltip>
                            </i>
                            <i
                              class="anticon anticon-eye-o"
                              v-if="getFileExtension(item_att.url) != 'pdf'"
                            >
                              <a-icon
                                type="eye"
                                @click="handlePreviewAttached(item_att)"
                              />
                            </i>
                            <a
                              :href="ip_server + item_att.url"
                              class="anticon anticon-eye-o"
                              v-if="getFileExtension(item_att.url) == 'pdf'"
                              target="_blank"
                            >
                              <a-icon type="eye" />
                            </a>
                            <a-popconfirm
                              title="กด `ใช่` เพื่อยืนยันลบข้อมูล !"
                              @confirm="confirmDeleteAttached(item_att, $event)"
                              okText="ใช่"
                              cancelText="ไม่"
                            >
                              <i class="anticon anticon-eye-o">
                                <a-icon type="delete" />
                              </i>
                            </a-popconfirm>
                          </span>
                          <!---->
                        </div>
                      </div>

                      <a-modal
                        :width="700"
                        :visible="previewVisible"
                        :footer="null"
                        @cancel="handleCancel"
                      >
                        <img style="width: 100%" :src="previewImage" />
                      </a-modal>
                    </a-col>
                  </a-row>
                </a-col>
              </a-row>
            </a-tab-pane>
            <a-tab-pane tab="ผู้รับรอง" key="3">
              <applicant
                :request-id="request_id"
                title="ผู้รับรองระบบผลิตพลังงานควบคุม"
                :ip-server="ip_server"
                :ref-id="item.ref_id"
                :year="year"
                :uprefixData="uprefixData"
              ></applicant>
            </a-tab-pane>
            <a-tab-pane tab="ผู้ตรวจสอบ" key="4">
              <inspector
                :request-id="request_id"
                title="ผู้ตรวจสอบระบบผลิตพลังงานควบคุม"
                :ip-server="ip_server"
                :ref-id="item.ref_id"
                :year="year"
                :uprefixData="uprefixData"
              ></inspector>
            </a-tab-pane>
            <a-tab-pane tab="ผู้ร่วมตรวจสอบ" key="5">
              <examiner
                :request-id="request_id"
                title="ผู้ร่วมตรวจสอบระบบผลิตพลังงานควบคุม"
                :ip-server="ip_server"
                :ref-id="item.ref_id"
                :year="year"
                :uprefixData="uprefixData"
              ></examiner>
            </a-tab-pane>
          </a-tabs>
        </a-tab-pane>
        <a-tab-pane key="1">
          <span slot="tab">
            <a-icon type="database" />รายการเครื่องต้นกำลังที่ต้องตรวจสอบ
          </span>
          <a-tabs
            defaultActiveKey="1"
            tabPosition="top"
            type="card"
            size="small"
          >
            <a-tab-pane
              v-for="(dir, key_dtp) in item.drivers"
              :key="keyStr(key_dtp)"
              :tab="numberMachine(dir.plant.dtp)"
            >
              <!-- tab="เครื่องต้นกำลังที่ 1" -->

              <a-tabs
                type="card"
                tabPosition="left"
                defaultActiveKey="1"
                @change="getSafetyD(item.id, dir.id, dir.plant.dtp)"
              >
                <a-tab-pane :tab="'ข้อมูล' + dir.plant.name" key="1">
                  <a-row
                    v-for="(dtp_list, k_dtp_key) in dir.plant.dtp"
                    :key="k_dtp_key"
                  >
                    <a-col :span="10" v-if="dtp_list.type != 'n'">{{
                      dtp_list.label
                    }}</a-col>
                    <a-col :span="10">
                      <a-input
                        v-if="dtp_list.type == 'a'"
                        disabled
                        :value="switchAttribute(dtp_list)"
                      />
                      <a-select
                        v-model="dtp_list[dtp_list.key]"
                        v-if="dtp_list.type == 'd'"
                        class="ant-input"
                      >
                        <a-select-option
                          v-for="model_gen in switchAttribute(dtp_list)"
                          :key="model_gen.id"
                          :value="model_gen.id"
                          >{{ model_gen.name }}</a-select-option
                        >
                      </a-select>
                      <a-input
                        v-if="dtp_list.type == null"
                        v-model="dtp_list[dtp_list.key]"
                      />
                      <a-input
                        v-if="dtp_list.type == 's'"
                        v-model="dtp_list[dtp_list.key]"
                      />

                      <a-select
                        v-model="dtp_list[dtp_list.key]"
                        v-if="dtp_list.type == 'o'"
                        class="ant-input"
                      >
                        <a-select-option
                          v-for="model_deriver in convetOptions(
                            dtp_list.option
                          )"
                          :key="model_deriver.id"
                          :value="model_deriver.id"
                        >
                          <a-tooltip placement="right">
                            <template slot="title">
                              <span>{{ model_deriver.name }}</span>
                            </template>
                            {{ model_deriver.name }}
                          </a-tooltip>
                        </a-select-option>
                      </a-select>
                    </a-col>
                  </a-row>
                  <a-row>
                    <a-col :span="4">
                      <a-button
                        type="primary"
                        @click="sendDtpDriver(dir.id, dir.plant.dtp)"
                        >บันทึกข้อมูล</a-button
                      >
                    </a-col>
                  </a-row>
                </a-tab-pane>

                <a-tab-pane tab="รายละเอียดเครื่องต้นกำลัง" key="2">
                  <!-- <pre>
                    {{dir.plant.header}}
             </pre> -->
                  <InstallPowerLocationDriver
                    :instData="dir.plant.header"
                    :driver_id="dir.id"
                  ></InstallPowerLocationDriver>
                </a-tab-pane>
                <a-tab-pane tab="ข้อมูลรูปภาพ" key="4">
                  <a-row :gutter="8">
                    <!-- :customRequest="picpointUpload" -->
                    <!-- :action="ip_server+'/dimage/'+item.ref_id+'/'+year+'/'+pic.driver_id+'/'+pic.id" -->
                    <!-- @change="updateImg(item.ref_id,pic,$event)"
                    :customRequest="picPointUpload"-->
                    <!-- @change="picPointUpload" -->
                    <a-col
                      v-for="(pic, pic_key) in dir.picpoint"
                      :key="pic_key"
                      :span="23"
                    >
                      <a-upload-dragger
                        :ref="'file-' + pic_key"
                        name="file"
                        accept="image/jpeg, image/png"
                        :fileList="[]"
                        :customRequest="picPointUpload"
                        @change="updateImg('driver', item.ref_id, pic, $event)"
                      >
                        <p class="ant-upload-drag-icon">
                          <a-icon type="inbox" />
                        </p>
                        <p class="ant-upload-text">
                          อัพโหลดรูป {{ pic.position }}
                        </p>
                      </a-upload-dragger>
                      <a-row>
                        <a-col
                          v-for="(item_picm, index) in pic.picture"
                          :key="index"
                        >
                          <div
                            class="ant-upload-list ant-upload-list-picture-card"
                          >
                            <div :class="isCurrentCheck(item_picm.is_current)">
                              <div class="ant-upload-list-item-info">
                                <span>
                                  <img
                                    :src="ip_server + item_picm.name"
                                    class="img-responsive"
                                  />
                                </span>
                              </div>

                              <span class="ant-upload-list-item-actions">
                                <i
                                  class="anticon anticon-eye-o"
                                  v-if="item_picm.is_current == 0"
                                >
                                  <a-tooltip placement="top">
                                    <template slot="title">
                                      <span>ใช้รูปทำรายงาน</span>
                                    </template>
                                    <a-icon
                                      type="check-circle"
                                      @click="updateCurrent(item_picm)"
                                    />
                                  </a-tooltip>
                                </i>
                                <i
                                  class="anticon anticon-eye-o"
                                  v-if="item_picm.is_current == 1"
                                >
                                  <a-tooltip placement="top">
                                    <template slot="title">
                                      <span>ไม่ใช้รูปทำรายงาน</span>
                                    </template>
                                    <a-icon
                                      type="close-circle"
                                      @click="updateCurrent(item_picm)"
                                    />
                                  </a-tooltip>
                                </i>
                                <i class="anticon anticon-eye-o">
                                  <a-icon
                                    type="eye"
                                    @click="handlePreview(item_picm)"
                                  />
                                </i>
                              </span>
                              <!---->
                            </div>
                          </div>

                          <a-modal
                            :width="700"
                            :visible="previewVisible"
                            :footer="null"
                            @cancel="handleCancel"
                          >
                            <img style="width: 100%" :src="previewImage" />
                          </a-modal>
                        </a-col>
                      </a-row>
                    </a-col>
                  </a-row>
                </a-tab-pane>
                <a-tab-pane tab="ผลการประเมิณ" key="5">
                  <a-row
                    v-for="(safeModel, safeKey) in safety"
                    :key="safeKey"
                    :gutter="16"
                  >
                    <a-col :span="16">
                      {{ safeModel.label }}
                      <a-row
                        v-if="safeModel.result_data"
                        type="flex"
                        justify="end"
                      >
                        <a-col :span="15">
                          <a-radio-group
                            v-model="safeModel.result_use"
                            size="small"
                          >
                            <a-radio-button value="y">{{
                              safeModel.result_data.y
                            }}</a-radio-button>
                            <a-radio-button value="n">{{
                              safeModel.result_data.n
                            }}</a-radio-button>
                          </a-radio-group>
                        </a-col>
                        <a-col :span="9">
                          <a-input
                            v-if="safeModel.result_use == 'n'"
                            placeholder="รายละเอียด"
                            :disabled="safeModel.result_use == 'y'"
                            allowClear
                            v-model="safeModel.description"
                            size="small"
                          />
                        </a-col>
                      </a-row>
                    </a-col>
                    <a-col :span="5">
                      <a-radio-group
                        v-for="(s_model, option_key) in instOptionsModel(
                          safeModel.option
                        )"
                        :key="option_key"
                        v-model="safeModel.result_select"
                        @change="eventSafaty(safeModel, s_model.data)"
                        size="small"
                      >
                        <a-radio-button :value="s_model.name">{{
                          s_model.name
                        }}</a-radio-button>
                      </a-radio-group>
                    </a-col>
                  </a-row>
                  <a-row>
                    <br />
                    <a-col>
                      <a-button
                        @click="saveSafetyD(item.id, dir.id)"
                        type="primary"
                        >บันทึกข้อมูล</a-button
                      >
                    </a-col>
                  </a-row>
                </a-tab-pane>
              </a-tabs>
            </a-tab-pane>
          </a-tabs>
        </a-tab-pane>
        <a-tab-pane key="2">
          <span slot="tab">
            <a-icon type="alert" />รายการเครื่องกำเนิดไฟฟ้าที่ต้องตรวจสอบ
          </span>
          <a-tabs defaultActiveKey="1" tabPosition="top" type="card">
            <a-tab-pane
              v-for="(item_gen, key_gen) in item.gen"
              :key="keyStr(key_gen)"
              :tab="
                'เครื่องที่ ' +
                  keyElectricity(key_gen) +
                  ' ' +
                  item_gen.gentype.name
              "
            >
              <a-tabs
                defaultActiveKey="1"
                tabPosition="left"
                type="card"
                @change="getSafetyG(item.id, item_gen.id, key_gen)"
              >
                <!-- start gen_dtp -->
                <a-tab-pane key="1" :tab="'ข้อมูล' + item_gen.gentype.name">
                  <a-row
                    v-for="(item_gentype_dtp, k_item_gentype_dtp) in item_gen
                      .gentype.dtp"
                    :key="k_item_gentype_dtp"
                  >
                    <a-col :span="10" v-if="item_gentype_dtp.type != 'n'">{{
                      item_gentype_dtp.label
                    }}</a-col>
                    <a-col :span="10">
                      <a-input
                        v-model="item_gentype_dtp[item_gentype_dtp.key]"
                        :disabled="item_gentype_dtp.type == 'a'"
                        v-if="item_gentype_dtp.type == 'a'"
                      />
                      <!-- <a-input
                              v-model="item_gentype_dtp[item_gentype_dtp.key]"
                              v-if="item_gentype_dtp.type==null"
                      />-->
                      <a-input
                        v-model="item_gentype_dtp[item_gentype_dtp.key]"
                        v-if="
                          item_gentype_dtp.type == null &&
                            item_gentype_dtp.format == null
                        "
                      />
                      <a-input
                        v-model="item_gentype_dtp[item_gentype_dtp.key]"
                        type="number"
                        v-if="
                          item_gentype_dtp.type == null &&
                            item_gentype_dtp.format == 'num'
                        "
                        min="0"
                      />
                      <a-select
                        v-model="item_gentype_dtp[item_gentype_dtp.key]"
                        v-if="item_gentype_dtp.type == 'o'"
                        class="ant-input"
                      >
                        <!-- @change="selectgentypeid(item_gen.gentype.dtp,item_gentype_dtp[item_gentype_dtp.key])" -->
                        <a-select-option
                          v-for="model_option in switchAttributeOptions(
                            item_gentype_dtp
                          )"
                          :key="model_option.id"
                          :value="model_option.id"
                        >
                          <a-tooltip placement="right">
                            <template slot="title">
                              <span>{{ model_option.name }}</span>
                            </template>
                            {{ model_option.name }}
                          </a-tooltip>
                        </a-select-option>
                      </a-select>
                    </a-col>
                  </a-row>
                  <a-row>
                    <a-col :span="7">
                      <a-button
                        type="primary"
                        @click="
                          saveGenUpdate(item_gen.id, item_gen.gentype.dtp)
                        "
                        >บันทึกข้อมูล</a-button
                      >
                    </a-col>
                  </a-row>
                </a-tab-pane>
                <!-- end gen_dtp -->
                <!-- start gen_inst -->
                <a-tab-pane
                  key="2"
                  :tab="'สถานที่ติดตั้ง' + item_gen.gentype.name"
                >
                  <InstallPowerLocationGen
                    :instgenData="item_gen.gentype.inst"
                    :gen_id="item_gen.id"
                  ></InstallPowerLocationGen>
                </a-tab-pane>
                <!-- end gen_inst -->
                <!-- start gen_protect -->
                <a-tab-pane
                  key="3"
                  :tab="'ระบบป้องกัน' + item_gen.gentype.name"
                >
                  <a-row
                    v-for="(item_protect, k_item_protect) in item_gen.gentype
                      .protect"
                    :key="k_item_protect"
                  >
                    <a-col :span="10" v-if="item_protect.type != 'n'">{{
                      item_protect.label
                    }}</a-col>
                    <a-col :span="10">
                      <a-input
                        v-model="item_protect[item_protect.key]"
                        :disabled="item_protect.type == 'a'"
                        v-if="item_protect.type == 'a'"
                      />
                      <a-input
                        v-model="item_protect[item_protect.key]"
                        v-if="
                          item_protect.type == null &&
                            item_protect.format == null
                        "
                        :disabled="ref_gen_protect_function_idj"
                      />
                      <a-input
                        v-model="item_protect[item_protect.key]"
                        type="number"
                        v-if="
                          item_protect.type == null &&
                            item_protect.format == 'num'
                        "
                        :disabled="ref_gen_protect_function_idj"
                        min="0"
                      />
                      <a-select
                        v-model="item_protect[item_protect.key]"
                        v-if="item_protect.type == 'd'"
                        class="ant-input"
                        @change="
                          checkRefGenIdj(item_protect.ref_gen_protect_type_id)
                        "
                      >
                        <a-select-option
                          v-for="model_item in switchAttribute(item_protect)"
                          :key="model_item.id"
                          :value="model_item.id"
                        >
                          <a-tooltip placement="right">
                            <template slot="title">
                              <span>{{ model_item.name }}</span>
                            </template>
                            {{ model_item.name }}
                          </a-tooltip>
                        </a-select-option>
                      </a-select>

                      <a-select
                        :disabled="ref_gen_protect_function_idj"
                        v-model="item_protect[item_protect.key]"
                        v-if="item_protect.type == 'o'"
                        class="ant-input"
                      >
                        <a-select-option
                          v-for="model_option in switchAttributeOptions(
                            item_protect
                          )"
                          :key="model_option.id"
                          :value="model_option.id"
                        >
                          <a-tooltip placement="right">
                            <template slot="title">
                              <span>{{ model_option.name }}</span>
                            </template>
                            {{ model_option.name }}
                          </a-tooltip>
                        </a-select-option>
                      </a-select>
                    </a-col>
                  </a-row>
                  <a-row>
                    <a-col :span="7">
                      <a-button
                        type="primary"
                        :disabled="ref_gen_protect_function_idj"
                        @click="
                          saveGenProtect(item_gen.id, item_gen.gentype.protect)
                        "
                        >บันทึกข้อมูล</a-button
                      >
                    </a-col>
                  </a-row>
                </a-tab-pane>
                <!-- end gen_protect -->
                <a-tab-pane key="4" :tab="'ข้อมูลระบบสับเปลี่ยน'">
                  <a-row
                    v-for="(item_array, k_item_array) in item_gen.gentype
                      .exchanges"
                    :key="k_item_array"
                  >
                    <a-col :span="19"></a-col>
                    <a-button
                      type="danger"
                      shape="circle"
                      icon="minus-circle-o"
                      size="small"
                      v-if="k_item_array != 0"
                      @click="removeRowExchang(item_gen.gentype, k_item_array)"
                    />

                    <a-row
                      v-for="(item_exchange, k_item_exchange) in item_array"
                      :key="k_item_exchange"
                    >
                      <a-col :span="10" v-if="item_exchange.type != 'n'">{{
                        item_exchange.label
                      }}</a-col>
                      <a-col :span="10">
                        <a-input
                          :value="k_item_array + 1"
                          :disabled="item_exchange.type == 'a'"
                          v-if="item_exchange.type == 'a'"
                        />
                        <a-input
                          v-model="item_exchange[item_exchange.key]"
                          @input="inputExchange(item_exchange, $event)"
                          v-if="item_exchange.type == null"
                        />
                        <a-select
                          v-model="item_exchange[item_exchange.key]"
                          v-if="item_exchange.type == 'd'"
                          class="ant-input"
                        >
                          <a-select-option
                            v-for="model_item in switchAttribute(item_exchange)"
                            :key="model_item.id"
                            :value="model_item.id"
                          >
                            <a-tooltip placement="right">
                              <template slot="title">
                                <span>{{ model_item.name }}</span>
                              </template>
                              {{ model_item.name }}
                            </a-tooltip>
                          </a-select-option>
                        </a-select>

                        <a-select
                          v-model="item_exchange[item_exchange.key]"
                          v-if="item_exchange.type == 'o'"
                          class="ant-input"
                        >
                          <a-select-option
                            v-for="model_option in switchAttributeOptions(
                              item_exchange
                            )"
                            :key="model_option.id"
                            :value="model_option.id"
                          >
                            <a-tooltip placement="right">
                              <template slot="title">
                                <span>{{ model_option.name }}</span>
                              </template>
                              {{ model_option.name }}
                            </a-tooltip>
                          </a-select-option>
                        </a-select>
                      </a-col>
                    </a-row>
                  </a-row>
                  <a-row>
                    <a-col span="22" offset="1">
                      <a-button
                        style="width: 100%; margin-top: 16px; margin-bottom: 8px"
                        type="dashed"
                        icon="plus"
                        @click="addRowExchange(item_gen.gentype)"
                        >เพิ่มจำนวน</a-button
                      >
                    </a-col>
                  </a-row>
                  <a-row>
                    <a-col>
                      <a-button
                        @click="
                          saveGenExchange(
                            item_gen.id,
                            item_gen.gentype.exchanges
                          )
                        "
                        type="primary"
                        >บันทึกข้อมูล</a-button
                      >
                    </a-col>
                  </a-row>
                </a-tab-pane>
                <a-tab-pane key="5" :tab="'ข้อมูลระบบขนานเครื่อง'">
                  <a-row
                    v-for="(item_arr_prrlls, k_arr_prrlls) in item_gen.gentype
                      .pararells"
                    :key="k_arr_prrlls"
                  >
                    <a-col :span="19"></a-col>
                    <a-button
                      type="danger"
                      shape="circle"
                      icon="minus-circle-o"
                      size="small"
                      v-if="k_arr_prrlls != 0"
                      @click="
                        removeRowPararells(item_gen.gentype, k_arr_prrlls)
                      "
                    />
                    <a-row
                      v-for="(item_prrlls, k_item_prrlls) in item_arr_prrlls"
                      :key="k_item_prrlls"
                    >
                      <a-col :span="10" v-if="item_prrlls.type != 'n'">{{
                        item_prrlls.label
                      }}</a-col>
                      <a-col :span="10">
                        <a-select
                          v-model="item_prrlls[item_prrlls.key]"
                          @select="SelectPrrlls(item_prrlls, $event)"
                          v-if="item_prrlls.type == 'd'"
                          class="ant-input"
                        >
                          <a-select-option
                            v-for="model_prrlls in switchAttribute(item_prrlls)"
                            :key="model_prrlls.id"
                            :value="model_prrlls.id"
                          >
                            <a-tooltip placement="right">
                              <template slot="title">
                                <span>{{ model_prrlls.name }}</span>
                              </template>
                              {{ model_prrlls.name }}
                            </a-tooltip>
                          </a-select-option>
                        </a-select>

                        <a-input
                          :value="k_arr_prrlls + 1"
                          :disabled="item_prrlls.type == 'a'"
                          v-if="item_prrlls.type == 'a'"
                        />
                        <a-input
                          v-model="item_prrlls[item_prrlls.key]"
                          @input="inputExchange(item_prrlls, $event)"
                          :disabled="item_prrlls.type == 'a'"
                          v-if="item_prrlls.type == null"
                        />
                      </a-col>
                    </a-row>
                  </a-row>

                  <a-row>
                    <a-col span="22" offset="1">
                      <a-button
                        style="width: 100%; margin-top: 16px; margin-bottom: 8px"
                        type="dashed"
                        icon="plus"
                        @click="addRowPararells(item_gen.gentype)"
                        >เพิ่มจำนวน</a-button
                      >
                    </a-col>
                  </a-row>
                  <a-row>
                    <a-col>
                      <a-button
                        @click="
                          saveGenPararell(
                            item_gen.id,
                            item_gen.gentype.pararells
                          )
                        "
                        type="primary"
                        >บันทึกข้อมูล</a-button
                      >
                    </a-col>
                  </a-row>
                </a-tab-pane>
                <a-tab-pane
                  key="6"
                  tab="หม้อแปลงไฟฟ้าที่รับซื้อไฟฟ้าจากการไฟฟ้า"
                >
                  <a-row
                    v-for="(item_transformer_buy,
                    k_item_transformer_buy) in item_gen.gentype.transformer_buy"
                    :key="k_item_transformer_buy"
                  >
                    <a-col :span="10" v-if="item_transformer_buy.type != 'n'">{{
                      item_transformer_buy.label
                    }}</a-col>
                    <a-col :span="10">
                      <a-input
                        v-model="item_transformer_buy[item_transformer_buy.key]"
                        v-if="
                          item_transformer_buy.type == null &&
                            item_transformer_buy.format == null
                        "
                      />
                      <a-input
                        v-model="item_transformer_buy[item_transformer_buy.key]"
                        type="number"
                        v-if="
                          item_transformer_buy.type == null &&
                            item_transformer_buy.format == 'num'
                        "
                        min="0"
                      />
                      <a-input
                        v-if="item_transformer_buy.key == 'generator_id'"
                        :value="
                          (item_transformer_buy.generator_id = item_gen.id)
                        "
                        disabled
                      />
                      <a-select
                        v-model="item_transformer_buy[item_transformer_buy.key]"
                        v-if="item_transformer_buy.type == 'o'"
                        class="ant-input"
                      >
                        <a-select-option
                          v-for="model_option in switchAttributeOptions(
                            item_transformer_buy
                          )"
                          :key="model_option.id"
                          :value="model_option.id"
                        >
                          <a-tooltip placement="right">
                            <template slot="title">
                              <span>{{ model_option.name }}</span>
                            </template>
                            {{ model_option.name }}
                          </a-tooltip>
                        </a-select-option>
                      </a-select>
                    </a-col>
                  </a-row>
                  <a-row>
                    <a-col :span="7">
                      <a-button
                        type="primary"
                        @click="
                          saveTransformerBuy(
                            item_gen.id,
                            item_gen.gentype.transformer_buy
                          )
                        "
                        >บันทึกข้อมูล</a-button
                      >
                    </a-col>
                  </a-row>
                </a-tab-pane>
                <a-tab-pane key="7" tab="หม้อแปลงไฟฟ้าที่ใช้จำหน่าย">
                  <a-row
                    v-for="(item_transformer_sale,
                    k_item_transformer_sale_buy) in item_gen.gentype
                      .transformer_sale"
                    :key="k_item_transformer_sale_buy"
                  >
                    <a-col
                      :span="10"
                      v-if="item_transformer_sale.type != 'n'"
                      >{{ item_transformer_sale.label }}</a-col
                    >
                    <a-col :span="10">
                      <a-input
                        v-model="
                          item_transformer_sale[item_transformer_sale.key]
                        "
                        v-if="
                          item_transformer_sale.type == null &&
                            item_transformer_sale.format == null
                        "
                      />
                      <a-input
                        v-model="
                          item_transformer_sale[item_transformer_sale.key]
                        "
                        type="number"
                        v-if="
                          item_transformer_sale.type == null &&
                            item_transformer_sale.format == 'num'
                        "
                        min="0"
                      />
                      <a-input
                        v-if="item_transformer_sale.key == 'generator_id'"
                        :value="
                          (item_transformer_sale.generator_id = item_gen.id)
                        "
                        disabled
                      />

                      <a-select
                        v-model="
                          item_transformer_sale[item_transformer_sale.key]
                        "
                        v-if="item_transformer_sale.type == 'o'"
                        class="ant-input"
                      >
                        <a-select-option
                          v-for="model_option in switchAttributeOptions(
                            item_transformer_sale
                          )"
                          :key="model_option.id"
                          :value="model_option.id"
                        >
                          <a-tooltip placement="right">
                            <template slot="title">
                              <span>{{ model_option.name }}</span>
                            </template>
                            {{ model_option.name }}
                          </a-tooltip>
                        </a-select-option>
                      </a-select>
                    </a-col>
                  </a-row>
                  <a-row>
                    <a-col :span="7">
                      <a-button
                        type="primary"
                        @click="
                          saveTransformerSale(
                            item_gen.id,
                            item_gen.gentype.transformer_sale
                          )
                        "
                        >บันทึกข้อมูล</a-button
                      >
                    </a-col>
                  </a-row>
                </a-tab-pane>
                <a-tab-pane key="8" tab="ข้อมูลรูปภาพ">
                  <a-row :gutter="8">
                    <a-col
                      v-for="(pic_gen, pic_key) in item_gen.picpoint"
                      :key="pic_key"
                      :span="24"
                    >
                      <a-upload-dragger
                        name="file"
                        accept="image/jpeg, image/png"
                        :fileList="[]"
                        :customRequest="picPointUpload"
                        @change="
                          updateImg('gentype', item.ref_id, pic_gen, $event)
                        "
                      >
                        <p class="ant-upload-drag-icon">
                          <a-icon type="inbox" />
                        </p>
                        <p class="ant-upload-text">
                          อัพโหลดรูป {{ pic_gen.position }}
                        </p>
                      </a-upload-dragger>
                      <a-row>
                        <a-col
                          v-for="(item_picm, index) in pic_gen.picture"
                          :key="index"
                        >
                          <div
                            class="ant-upload-list ant-upload-list-picture-card"
                          >
                            <div :class="isCurrentCheck(item_picm.is_current)">
                              <div class="ant-upload-list-item-info">
                                <span>
                                  <img
                                    :src="ip_server + item_picm.name"
                                    width="140"
                                  />
                                </span>
                              </div>

                              <span class="ant-upload-list-item-actions">
                                <i
                                  class="anticon anticon-eye-o"
                                  v-if="item_picm.is_current == 0"
                                >
                                  <a-tooltip placement="top">
                                    <template slot="title">
                                      <span>ใช้รูปทำรายงาน</span>
                                    </template>
                                    <a-icon
                                      type="check-circle"
                                      @click="updateCurrent(item_picm)"
                                    />
                                  </a-tooltip>
                                </i>
                                <i
                                  class="anticon anticon-eye-o"
                                  v-if="item_picm.is_current == 1"
                                >
                                  <a-tooltip placement="top">
                                    <template slot="title">
                                      <span>ไม่ใช้รูปทำรายงาน</span>
                                    </template>
                                    <a-icon
                                      type="close-circle"
                                      @click="updateCurrent(item_picm)"
                                    />
                                  </a-tooltip>
                                </i>
                                <i class="anticon anticon-eye-o">
                                  <a-icon
                                    type="eye"
                                    @click="handlePreview(item_picm)"
                                  />
                                </i>
                              </span>
                              <!---->
                            </div>
                          </div>

                          <a-modal
                            :width="700"
                            :visible="previewVisible"
                            :footer="null"
                            @cancel="handleCancel"
                          >
                            <img style="width: 100%" :src="previewImage" />
                          </a-modal>
                        </a-col>
                      </a-row>
                    </a-col>
                  </a-row>
                </a-tab-pane>

                <a-tab-pane tab="ผลการประเมิณ" key="9">
                  <a-row
                    v-for="(safeModel, safeKey) in safetyGen"
                    :key="safeKey"
                    :gutter="16"
                  >
                    <a-col :span="19">
                      {{ safeModel.label }}
                      <a-row
                        v-if="safeModel.result_data"
                        type="flex"
                        justify="end"
                      >
                        <a-col :span="14">
                          <a-radio-group
                            v-model="safeModel.result_use"
                            size="small"
                          >
                            <a-radio-button value="y">{{
                              safeModel.result_data.y
                            }}</a-radio-button>
                            <a-radio-button value="n">{{
                              safeModel.result_data.n
                            }}</a-radio-button>
                          </a-radio-group>
                        </a-col>
                        <a-col :span="9">
                          <a-input
                            v-if="safeModel.result_use == 'n'"
                            placeholder="รายละเอียด"
                            :disabled="safeModel.result_use == 'y'"
                            allowClear
                            v-model="safeModel.description"
                            size="small"
                          />
                        </a-col>
                      </a-row>
                    </a-col>
                    <a-col :span="5">
                      <a-radio-group
                        v-for="(g_model, option_key) in instOptionsModel(
                          safeModel.option
                        )"
                        :key="option_key"
                        v-model="safeModel.result_select"
                        @change="eventSafatyGen(safeModel, g_model.data)"
                        size="small"
                      >
                        <a-radio-button :value="g_model.name">{{
                          g_model.name
                        }}</a-radio-button>
                      </a-radio-group>
                    </a-col>
                    <br />
                  </a-row>
                  <a-row>
                    <br />
                    <a-col>
                      <a-button
                        @click="saveSafetyGen(item.id, item_gen.id)"
                        type="primary"
                        >บันทึกข้อมูล</a-button
                      >
                    </a-col>
                  </a-row>
                </a-tab-pane>
              </a-tabs>
            </a-tab-pane>
          </a-tabs>
        </a-tab-pane>
        <a-tab-pane key="3">
          <span slot="tab"> <a-icon type="file" />สรุปผลการประเมิน </span>
        </a-tab-pane>
      </a-tabs>
    </a-card>
  </div>
</template>

<script>
import DetailList from "@/components/tools/DetailList";
import Applicant from "@/components/Information/Applicant";
import Inspector from "@/components/Information/Inspector";
import Examiner from "@/components/Information/Examiner";
import {
  InstallPowerLocationDriver,
  InstallPowerLocationGen
} from "@/components/factoryComponent";
import thTH from "ant-design-vue/lib/locale-provider/th_TH";
import axios from "axios";
import * as moment from "moment";
const DetailListItem = DetailList.Item;
import { setTimeout } from "timers";
import { type } from "os";
import { close } from "fs";
import { parse } from "querystring";
export default {
  name: "UploadMember",
  components: {
    DetailList,
    DetailListItem,
    Applicant,
    Inspector,
    Examiner,
    InstallPowerLocationDriver,
    InstallPowerLocationGen
  },
  data() {
    return {
      locale: thTH,
      dateFormat: "DD/MM/YYYY",
      ref_id: "",
      item: [],
      previewVisible: false,
      previewImage: "",
      fileLists: [],
      picData: {},
      dataMember: {},
      dataMemberNew: [],
      ip_server: this.$store.getters.getIpServe,
      drivers_data: [],
      loading: false,
      power_drive: [],
      mainfuel: [],
      dataExchange: [],
      ref_parallel_relay: [],
      ref_gpf: [],
      ref_gpt: [],
      ref_parallel: [],
      exgen: [],
      exdevice: [],
      exotts: [],
      pararell: [],
      safety: [],
      safetyGen: [],
      request_id: this.$route.params.id,
      milestoneSchedule: [],
      attachedFiles: [],

      uprefixData: [],
      year: parseInt(moment().format("YYYY")) + 543,
      ref_gen_protect_function_idj: false
    };
  },
  computed: {},

  mounted() {
    this.$nextTick(() => {
      window.scrollTo(0, 0);
      let that = this;

      this.fetchData();
      this.getAttachedFiles();

      this.getRestApi(`/uprefix`).then(response => {
        that.uprefixData = response.data.data;
      });
      this.getRestApi(`/milestone/request/${that.request_id}`).then(res => {
        let dataRaw = res.data.data;
        dataRaw.map(item => {
          if (item.exist_date.length > 0) {
            let exist_date = item.exist_date.find(val => val);
            item.date_value = this.formatMilestone(exist_date.date_value);
          } else {
            item.date_value = null;
          }
        });
        that.milestoneSchedule = res.data.data;
      });

      this.getRestApi("/plant").then(res => {
        that.power_drive = res.data.data;
      });
      this.getRestApi("/fuel").then(res => {
        that.mainfuel = res.data.data;
      });
      this.getRestApi("/relay").then(res => {
        that.ref_parallel_relay = res.data.relay;
      });
      this.getRestApi("/gpf").then(res => {
        that.ref_gpf = res.data.data;
      });
      this.getRestApi("/gpt").then(res => {
        that.ref_gpt = res.data.data;
      });
      this.getRestApi("/parallel").then(res => {
        that.ref_parallel = res.data.data;
      });
      this.getRestApi("/exdevice").then(res => {
        that.exdevice = res.data.data;
      });
      this.getRestApi("/exgen").then(res => {
        that.exgen = res.data.data;
      });
      this.getRestApi("/exotts").then(res => {
        that.exotts = res.data.data;
      });
      this.getRestApi("/parallel").then(res => {
        that.parallel = res.data.data;
      });
    });
  },
  methods: {
    moment,
    convetOptions(data) {
      return JSON.parse(data);
    },
    confirmDeleteAttached(item, e) {
      axios
        .delete(`/attachedfiles/request/${this.request_id}/${item.id}`)
        .then(res => {
          console.log(res);
        });
    },
    getFileExtension(filename) {
      return /[.]/.exec(filename) ? /[^.]+$/.exec(filename)[0] : undefined;
    },
    getAttachedFiles() {
      let that = this;
      this.getRestApi(`/attachedfiles/request/${that.request_id}`).then(res => {
        that.attachedFiles = res.data.attached;
      });
    },
    attachedFilesUpload(info) {
      const status = info.file.status;
    },
    attachedFilesUploadSend(data, e) {
      //application/pdf
      let file = e.file;
      let that = this;
      let url = `${this.ip_server}/upload/${this.item.ref_id}/${this.year}/pk_request/${this.request_id}`;
      const config = { headers: { "Content-Type": "multipart/form-data" } };
      let fd = new FormData();
      fd.append("pkdocs", file.originFileObj);
      axios.post(url, fd, config).then(res => {
        if (res.status == 200) {
          that.$message.success("อัพโหลดสำเร็จ !");
          that.postData(data, res.data);
          // array.picture = res.data;
        } else {
          that.$message.error("ไม่สามารอัพโหลดรูปได้ !");
        }
      });
    },
    postData(dataSend, item) {
      let that = this;
      let dataOject = [
        {
          ref_document_id: dataSend.id,
          url: item.filename
        }
      ];
      this.postRestApi(
        `/attachedfiles/request/${this.request_id}`,
        JSON.stringify(dataOject)
      ).then(res => {
        if (res.status == 200) {
          that.getAttachedFiles();
        }
      });
    },
    checkformatMilestone(model) {
      let date = null;
      if (model) date = moment(model, this.dateFormat);

      return date;
    },
    formatMilestone(model) {
      var dateString = null;
      if (model) {
        var currentDate = new Date(model);
        var date = currentDate.getDate();
        var month = currentDate.getMonth(); //Be careful! January is 0 not 1
        var year = currentDate.getFullYear();

        dateString = date + "/" + (month + 1) + "/" + year;
      }

      return dateString;
    },
    saveMilestone() {
      let that = this;
      let dataSend = this.milestoneSchedule.map(item => {
        let itemDefault = item.exist_date.find(val => val);
        let date_value = null;
        if (itemDefault)
          itemDefault.date_value ? (date_value = itemDefault.date_value) : null;

        let objJson = {
          id: item.id,
          request_id: this.request_id,
          milestone_template_id: item.id,
          date_value: item.description ? item.description : date_value
        };
        return objJson;
      });

      this.postRestApi(
        `/milestone/request/${this.request_id}`,
        JSON.stringify(dataSend)
      )
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },
    eventSafaty(itemsModel, model) {
      itemsModel.result_data = model;
    },
    eventSafatyGen(itemsModelGen, model) {
      itemsModelGen.result_data = model;
    },

    getSafetyG(request_id, gen_id, gen_key) {
      let that = this;
      let url = `${that.ip_server}/safety/g/${request_id}/${gen_id}`;
      return axios.get(url).then(res => {
        var dataGenRaw = res.data.data;
        dataGenRaw.map(item => {
          let result = item.result.find(val => val);
          let optionData = null;
          if (result) {
            optionData = this.instOptionsModel(item.option).find(
              op => op.name == result.yorn
            );
          }
          item["result_select"] = result ? result.yorn : "";
          item["description"] = result ? result.detail : "";
          item["result_data"] = optionData ? optionData.data : null;
          item["result_use"] = result ? result.result : "";
          item["request_id"] = request_id;
          item["gen_id"] = gen_id;
          item["header"] = gen_key + 1;
          return item;
        });
        that.safetyGen = dataGenRaw;
      });
    },
    saveSafetyGen(request_id, gen_id) {
      let that = this;
      let newData = this.safetyGen.map(item => {
        let newObject = {
          request_id: item["request_id"],
          result_template_id: item["id"],
          yorn: item["result_select"],
          result: item["result_use"],
          detail: item["description"],
          section: "g",
          link: item["gen_id"],
          header: item["header"]
        };
        return newObject;
      });
      if (newData)
        this.postRestApi(
          `/safety/g/${request_id}/${gen_id}`,
          JSON.stringify(newData)
        )
          .then(res => {
            if (res.status == 200) {
              that.$message.success("บันทึกข้อมูลสำเร็จ");
            }
          })
          .catch(error => {
            if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
          });
    },
    saveSafetyD(request_id, driver_id) {
      let newData = this.safety.map(item => {
        let newObject = {
          request_id: item["request_id"],
          result_template_id: item["id"],
          yorn: item["result_select"],
          result: item["result_use"],
          detail: item["description"],
          section: "d",
          link: item["driver_id"],
          header: item["header"]
        };
        return newObject;
      });
      let that = this;

      if (newData)
        this.postRestApi(
          `/safety/d/${request_id}/${driver_id}`,
          JSON.stringify(newData)
        )
          .then(res => {
            if (res.status == 200) {
              that.$message.success("บันทึกข้อมูลสำเร็จ");
            }
          })
          .catch(error => {
            if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
          });
    },
    getSafetyD(request_id, driver_id, dtp) {
      let that = this;
      let data_dtp = dtp.find(item => item);
      let url = `${that.ip_server}/safety/d/${request_id}/${driver_id}`;
      return axios.get(url).then(res => {
        var dataRaw = res.data.data;

        dataRaw.map(item => {
          let result = item.result.find(val => val);

          let optionData = null;
          if (result) {
            optionData = this.instOptionsModel(item.option).find(
              op => op.name == result.yorn
            );
          }
          item["result_select"] = result ? result.yorn : "";
          item["description"] = result ? result.detail : "";
          item["result_data"] = optionData ? optionData.data : null;
          item["result_use"] = result ? result.result : "";
          item["request_id"] = request_id;
          item["driver_id"] = driver_id;
          item["header"] = data_dtp.id;
          return item;
        });
        that.safety = dataRaw;
        // console.log(dataRaw);

        console.log(data_dtp);
      });
    },
    checkRefGenexchangeId(model, index) {
      if (model.ref_genexchange_id == 21) {
        console.log("ok");
      }
    },
    fetchData() {
      let that = this;
      let router_id = this.$route.params.id;
      if (router_id) {
        this.loading = true;
        this.getRestApi(`/request/${router_id}`)
          .then(function(response) {
            if (response.status == 200) {
              that.item = response.data.request;
              that.loading = false;
            }
          })
          .catch(error => {
            if (error.message) {
              that.$message.error("Error 500?");
              that.$router.push(`/list-factory`);
            }
          });
      }
    },
    saveProtect(driver_id, array) {
      if (array.length > 0) {
        let newProtect = array.map(item => {
          let obj = {
            driver_id: driver_id,
            ref_driverprotect_id: item.id,
            result: item.result
          };
          return obj;
        });
        let that = this;
        let url = `${that.ip_server}/driver/protect/${driver_id}`;
        axios
          .post(url, JSON.stringify(newProtect))
          .then(res => {
            if (res.status == 200) {
              that.$message.success("บันทึกข้อมูลสำเร็จ");
              console.log(res.data);
            }
          })
          .catch(error => {
            if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
          });
      }
    },
    saveInst(driver_id, array) {
      let that = this;
      if (array.length > 0) {
        let newInst = array.map(item => {
          let obj = {
            driver_id: driver_id,
            item: item.id,
            result: item.result
          };
          return obj;
        });
        this.postRestApi(`/driver/inst/${driver_id}`, JSON.stringify(newInst))
          .then(res => {
            if (res.status == 200) {
              that.$message.success("บันทึกข้อมูลสำเร็จ");
              console.log(res.data);
            }
          })
          .catch(error => {
            if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
          });
      }
    },
    isCurrentCheck(data) {
      if (data === 1) {
        return "ant-upload-list-check ant-upload-list-item-done";
      } else {
        return "ant-upload-list-item ant-upload-list-item-done";
      }
    },
    updateCurrent(data) {
      if (data.is_current == 0) {
        data.is_current = 1;
        this.getRestApi(`/picture/pset/${data.id}`);
      } else {
        this.getRestApi(`/picture/punset/${data.id}`);
        data.is_current = 0;
      }
    },
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreviewAttached(item) {
      this.previewImage = this.ip_server + item.url;
      this.previewVisible = true;
    },
    handlePreview(file) {
      this.previewImage = this.ip_server + file.name;
      this.previewVisible = true;
    },
    updateImg(type, ref_id_in, array, e) {
      let file = e.file;
      let that = this;
      let url = "";
      if (type == "driver") {
        url = `${this.ip_server}/dimage/${ref_id_in}/${this.year}/${array.driver_id}/${array.id}`;
      } else {
        url = `${this.ip_server}/gimage/${ref_id_in}/${this.year}/${array.generator_id}/${array.id}`;
      }
      const config = { headers: { "Content-Type": "multipart/form-data" } };
      let fd = new FormData();
      fd.append("file", file.originFileObj);
      axios.post(url, fd, config).then(res => {
        if (res.status == 200) {
          that.$message.success("อัพโหลดสำเร็จ !");
          if (res.data.length > 0) {
            console.log(res.data);
            array.picture = res.data;
          }
        } else {
          that.$message.error("ไม่สามารอัพโหลดรูปได้ !");
        }
      });
    },
    picPointUpload(info) {
      const status = info.file.status;
    },
    selectgentypeid(array, value) {
      if (value < 3) {
        array.map(item => {
          if (item.key == "g_type") item.g_type = value;
          return item;
        });
      } else {
        array.map(item => {
          if (item.key == "g_type") item.g_type = null;
          return item;
        });
      }
    },

    SelectPrrlls(array, e) {
      if (e) {
        array[array.key] = e;
      }
    },
    AutoKey(array, key) {
      return key + 1;
    },
    inputExchange(array, e) {
      let dataValue = e.target.value;
      array[array.key] = dataValue;
    },
    inputPararells(array, e) {
      let dataValue = e.target.value;
      array[array.key] = dataValue;
    },
    addRowExchange(array) {
      let exchangesArray = [...array.exchanges[0]];

      let newArray = this.lodash.cloneDeep(exchangesArray).map(item => {
        item[item.key] = null;
        return item;
      });

      array.exchanges.push(newArray);
      array.exchanges.map((val, index) => {
        return val.map(val => {
          val.no = null;
          val.no = index + 1;
        });
      });
    },
    addRowPararells(array) {
      let pararellsArray = array.pararells[0];

      let newArray = this.lodash.cloneDeep(pararellsArray).map(item => {
        item[item.key] = null;
        return item;
      });

      array.pararells.push(newArray);
      array.pararells.map((val, index) => {
        return val.map(val => {
          val.no = null;
          val.no = index + 1;
        });
      });
    },
    removeRowExchang(array, index) {
      let newArrayRemove = array.exchanges.splice(index, 1);
    },
    removeRowPararells(array, index) {
      let newArrayRemove = array.pararells.splice(index, 1);
    },
    saveExchang(array) {
      console.log(array.exchanges);
    },
    savePararells(array) {
      console.log(array.pararells);
    },
    checkRefGenIdj(model) {
      if (model == 4) {
        this.ref_gen_protect_function_idj = true;
      } else {
        this.ref_gen_protect_function_idj = false;
      }
    },
    switchAttribute(model) {
      if (model) {
        switch (model.key) {
          case "power_drive":
            if (model[model.key]) {
              let power_driveNew = this.power_drive.find(item => {
                item.id == model[model.key];
                return item;
              });
              if (power_driveNew.name) return power_driveNew.name;
            } else {
              return model[model.key];
            }
            break;

          case "mainfuel":
            return this.mainfuel;
            break;
          case "ref_parallel_relay_id":
            return this.ref_parallel_relay;
            break;
          case "ref_gen_protect_function_idj":
            return this.ref_gpt;
            break;
          case "ref_gen_protect_type_id":
            if (model.ref_gentype_id == 1) return this.ref_gpt;
            else if (model.ref_gentype_id == 3) return this.ref_gpt;
            break;
          case "ref_genexchange_id":
            return this.exgen;
            break;
          case "ref_breakertrip_id":
            break;
          case "ref_exchangedevices_id":
            return this.exdevice;
            break;
          case "ref_exchange_ott_id":
            return this.exotts;
            break;
          case "ref_pararell_id":
            return this.parallel;
            break;
          case "no":
            return model[model.key];
            break;
          default:
          // code block
        }
      }
    },
    switchAttributeOptions(model) {
      if (model && model.option) {
        let newConvet = JSON.parse(model.option);
        let newReCon = newConvet.map(item => {
          item.id = parseInt(item.id);
          return item;
        });
        return newReCon;
      }
    },
    newArraytoObject(dataArray) {
      var dataOject = this.lodash
        .chain(dataArray)
        .keyBy("key")
        .mapValues(function(item) {
          return item[item.key];
        })
        .value();
      return dataOject;
    },
    saveGenUpdate(gen_id, dataArray) {
      let that = this;
      let newArray = this.lodash.cloneDeep(dataArray);
      let newRawData = newArray.filter(item => item.type != "n");
      let dataJson = this.newArraytoObject(newRawData);
      this.postRestApi(`/gen/update/${gen_id}`, JSON.stringify(dataJson))
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
            console.log(res.data);
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },

    saveGenProtect(gen_id, dataArray) {
      let that = this;
      if (dataArray.length > 0) {
        let newArray = this.lodash.cloneDeep(dataArray);
        let newRawData = newArray.filter(item => item.type != "n");
        this.postRestApi(
          `/gen/protect/${gen_id}`,
          JSON.stringify([this.newArraytoObject(newRawData)])
        )
          .then(res => {
            if (res.status == 200) {
              that.$message.success("บันทึกข้อมูลสำเร็จ");
            }
          })
          .catch(error => {
            if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
          });
      }
    },
    saveGenExchange(gen_id, dataArray) {
      let that = this;
      let newArrayClone = this.lodash.cloneDeep(dataArray);
      let newArrayData = [];
      for (var i in newArrayClone) {
        let newArrayRaw = newArrayClone[i]
          .filter(item => item.type != "n")
          .map(val => {
            val.no = parseInt(i) + 1;
            return val;
          });

        var dataOject = this.lodash
          .chain(newArrayRaw)
          .keyBy("key")
          .mapValues(function(item) {
            return item[item.key];
          })
          .value();
        let newObject = Object.assign(dataOject, {
          exchange_id: newArrayClone[i][i]
            ? newArrayClone[i][i]["exchange_id"]
            : null
        });
        newArrayData.push(dataOject);
      }
      this.postRestApi(`/gen/exchange/${gen_id}`, JSON.stringify(newArrayData))
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
            console.log(res.data);
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
      // console.log(newArrayData);
    },
    saveGenPararell(gen_id, dataArray) {
      let that = this;
      let newArrayClone = this.lodash.cloneDeep(dataArray);
      let newArrayData = [];
      for (var i in newArrayClone) {
        let newArrayRaw = newArrayClone[i]
          .filter(item => item.type != "n")
          .map(val => {
            val.no = parseInt(i) + 1;
            return val;
          });
        let dataOject = this.newArraytoObject(newArrayRaw);
        let newObject = Object.assign(dataOject, {
          pararell_id: newArrayClone[i][i]
            ? newArrayClone[i][i]["pararell_id"]
            : null
        });
        newArrayData.push(dataOject);
      }
      this.postRestApi(`/gen/parallel/${gen_id}`, JSON.stringify(newArrayData))
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
            console.log(res.data);
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },
    saveTransformerBuy(gen_id, dataArray) {
      console.log(dataArray);
      let that = this;
      let newArray = this.lodash.cloneDeep(dataArray);
      let newRawData = newArray.filter(item => item.type != "n");
      let rawDataBuy = this.newArraytoObject(newRawData);
      rawDataBuy["horl"] = "ซื้อ";
      this.postRestApi(`/gen/trsbuy/${gen_id}`, JSON.stringify([rawDataBuy]))
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
            console.log(res.data);
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },
    saveTransformerSale(gen_id, dataArray) {
      let that = this;
      let newArray = this.lodash.cloneDeep(dataArray);
      let newRawData = newArray.filter(item => item.type != "n");
      let rawDataSale = this.newArraytoObject(newRawData);
      rawDataSale["horl"] = "ขาย";
      this.postRestApi(`/gen/trssale/${gen_id}`, JSON.stringify([rawDataSale]))
        .then(res => {
          if (res.status == 200) {
            that.$message.success("บันทึกข้อมูลสำเร็จ");
            console.log(res.data);
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },
    changeProtc(plant_id, model, e) {
      if (model) {
        model.result = e.target.checked;
        model["diver_id"] = plant_id;
      }
    },
    keyElectricity(key) {
      let dataKey = key + 1;
      return dataKey;
    },
    instOptionsModel(data) {
      if (data) {
        return JSON.parse(data);
      } else {
        return [];
      }
    },
    instOptions(data) {
      if (data) {
        let removeString = data.slice(1, data.length - 1);
        let setArray = removeString.split(",");
        return setArray;
      } else {
        return [];
      }
    },
    instOptionsGen(data) {
      if (data) {
        let removeString = data.slice(1, data.length - 1);
        let setArray = removeString.split(",");
        return setArray;
      } else {
        return [];
      }
    },
    numberMachine(array) {
      if (array.length > 0) {
        let data = array.find(item => item);
        return "เครื่องต้นกำลังที่ " + data[data.key];
      } else {
        return "เครื่องต้นกำลังที่ ";
      }
    },
    sendDtpDriver(driver_id, array) {
      var result = {};
      let arr = array;
      array.map((item, index) => {
        result[item.key] = item[item.key];
      });
      // for (var i = 0; i < arr.length; i++) {
      //   result[arr[i].key] = arr[i][arr[i].key];
      // }
      let that = this;
      this.postRestApi(`/driver/update/${driver_id}`, JSON.stringify(result))
        .then(res => {
          if (res.status == 200) {
            if (res.data.data == "ok") {
              that.$message.success("บันทึกข้อมูลสำเร็จ !");
              that.fetchData();
            }
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("ไม่สามารถบันทึกได้ ?");
        });
    },
    evenInput(model, e) {
      console.log(model);

      return (model[model.key] = e);
    },

    keyStr(key) {
      if (key) {
        let num = key + 1;
        return num.toString();
      } else {
        return "1";
      }
    },
    postRestApi(api, data) {
      return axios.post(`${this.ip_server + api}`, data);
    },
    getRestApi(api) {
      return axios.get(`${this.ip_server + api}`);
    }
  }
};
</script>
<style>
.ant-tabs-tab {
  text-align: left !important;
}
.img-responsive {
  width: 100%;
  max-width: 120px;
  height: auto;
}
.tb_headSet1 {
  font-size: 11px;
  font-weight: 300;
  color: black;
}
.ant-upload-list-picture-card .ant-upload-list-check {
  float: left;
  width: 104px;
  height: 104px;
  margin: 0 8px 8px 0;
}
.ant-upload-list-picture-card .ant-upload-list-check {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #dc0c0c;
  height: 104px;
  position: relative;
}
.ant-upload-list-check {
  margin-top: 8px;
  font-size: 14px;
  position: relative;
  height: 104px;
}
.text-right {
  text-align: right;
}
</style>

