<template >
  <div v-if="checkshow">
    <a-card
      :loading="loading"
      :bordered="false"
      v-for="(model,index) in dataListMember.member"
      :key="index"
    >
      <a-row type="flex" justify="end">
        <a-col :span="6">
          <a-input-search placeholder="ค้นหาข้อมูล..." v-model="onSearch" />
        </a-col>
      </a-row>

      <a-row type="flex" justify="start" v-if="model.name">
        <a-col :span="6">
          <h4>ผู้ตรวจสอบ : {{model.name}}</h4>
        </a-col>
      </a-row>
      <div class="right-txt">แสดงทั้งหมด {{filteredList.length}} รายการ</div>
    </a-card>
    <br />
    <a-row :gutter="16">
      <a-col
        class="gutter-row"
        :span="8"
        :loading="loading"
        v-for="(list,key) in filteredList"
        :key="key+1"
      >
        <a-card :loading="loading" hoverable style @click="headleDetails(list.id)">
          <a-card-meta :title="list.sites.name" v-if="list.sites.name">
            <template slot="description">{{list.sites.about}}</template>
          </a-card-meta>
        </a-card>
        <br />
      </a-col>
    </a-row>
  </div>
  <div v-else>
    <a-card :loading="loading">
      <a-row type="flex" justify="end">
        <a-col :span="6">
          <a-input-search placeholder="ค้นหาข้อมูล..." v-model="onSearch" />
        </a-col>
      </a-row>

      <a-row type="flex" justify="start">
        <a-col :span="4">
          <h2>ผู้ตรวจสอบ : xxxx</h2>
        </a-col>
      </a-row>
      <div class="right-txt">แสดงทั้งหมด xxx รายการ</div>
    </a-card>
    <br />
    <a-row :gutter="16">
      <a-col class="gutter-row" :span="8" v-for="(list,key) in [1,2,3]" :key="key+1">
        <a-card :loading="loading">
          <a-card-meta>
            <template slot="description"></template>
          </a-card-meta>
        </a-card>
        <br />
      </a-col>
    </a-row>
  </div>
</template>

<style lang="css">
.spin-content {
  margin-top: 150px;
  text-align: center;
}
.right-txt {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}
</style>
<script>
import axios from "axios";
export default {
  name: "ListFactory",
  data() {
    return {
      dataListMember: [],
      spinning: true,
      loading: true,
      checkshow: false,
      onSearch: "",
      current: 1
    };
  },
  mounted() {
    this.$nextTick(() => {
      window.scrollTo(0, 0);
      let that = this;
      let router_id = this.$route.params.id;
      let url = router_id ? `/member/list/${router_id}` : `/member/list/10`;
      this.getRestApi(url)
        .then(res => {
          if (res.status == 200) {
            that.loading = false;
            that.checkshow = true;
            that.dataListMember = res.data;
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("error 500 ?");
        });
    });
  },
  computed: {
    filteredList() {
      if (this.dataListMember.member) {
        let newRaw = this.dataListMember.member.find((item, index) => ({
          ...item
        }));
        return newRaw.request.filter(item => {
          if (item.sites != null) {
            return (
              item.sites.name
                .toLowerCase()
                .includes(this.onSearch.toLowerCase()) ||
              item.sites.about
                .toLowerCase()
                .includes(this.onSearch.toLowerCase())
            );
          }
        });
      } else {
        return [];
      }
    }
  },
  methods: {
    headleDetails(id) {
      if (id) {
        this.$router.push(`/factory-details/${id}`);
      }
    },
    getRestApi(api) {
      return axios.get(`${this.$store.getters.getIpServe + api}`);
    }
  }
};
</script>