<template >
  <div >
    <a-card :loading="loading" :bordered="false">
      <a-row type="flex" justify="end">
        <a-col :span="6">
          <a-input-search placeholder="ค้นหาข้อมูล..." v-model="onSearch" />
        </a-col>
      </a-row>

      <a-row type="flex" justify="start">
        <a-col :span="6"></a-col>
      </a-row>
      <div class="right-txt">แสดงทั้งหมด {{filteredList.length}} รายการ</div>
    </a-card>
    <br />
    <a-row :gutter="16">
      <a-col
        class="gutter-row"
        :span="8"
        :loading="loading"
        v-for="(list,key) in filteredList"
        :key="key+1"
      >
        <a-card :loading="loading" hoverable style @click="headleDetails(list.id)">
          <div class="" v-for="(ow,index) in list.owner" :key="index">
            <p class="text-truncate">  <span class="font-weight-bold">ชื่อนิติบุคคล</span> <a-divider type="vertical" /> {{ow.name}}</p>
         </div>
        
          <p class="text-truncate"> <span class="font-weight-bold">ชื่อสาขา </span>
            <a-divider type="vertical" />
            <a-tooltip placement="topLeft">
                <template slot="title">
                  <span>{{list.sites.name}}</span>
                </template>
                {{list.sites.name}}
            </a-tooltip>
          </p>
          <p class="text-truncate"> <span class="font-weight-bold">ดำเนินกิจการ </span><a-divider type="vertical" />{{list.sites.about}}</p>
          <p class="text-truncate"> <span class="font-weight-bold">คำขอจาก </span><a-divider type="vertical" />{{list.from}}</p>

        </a-card>
        <br />
      </a-col>
    </a-row>
  </div>
  <!-- <div v-else>
    <a-card :loading="loading">
      <a-row type="flex" justify="end">
        <a-col :span="6">
          <a-input-search placeholder="ค้นหาข้อมูล..." v-model="onSearch" />
        </a-col>
      </a-row>

      <div class="right-txt">แสดงทั้งหมด xxx รายการ</div>
    </a-card>
    <br />
    <a-row :gutter="16">
      <a-col class="gutter-row" :span="8" v-for="(list,key) in [1,2,3]" :key="key+1">
        <a-card :loading="loading">
          <a-card-meta>
            <template slot="description"></template>
          </a-card-meta>
        </a-card>
        <br />
      </a-col>
    </a-row>
  </div>-->
</template>

<style lang="css">
.spin-content {
  margin-top: 150px;
  text-align: center;
}
.right-txt {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}
</style>
<script>
import axios from "axios";
import Vue from "vue";

export default {
  name: "ListFactory",
  data() {
    return {
      dataListMember: [],
      spinning: true,
      loading: true,
      checkshow: false,
      onSearch: "",
      current: 1,
      authorization: "Bearer " + Vue.ls.get("ACCESS_TOKEN")
    };
  },
  mounted() {
    this.$nextTick(() => {
      window.scrollTo(0, 0);
      let that = this;
      let router_id = this.$route.params.id;
      let url = router_id ? `/member/list/${router_id}` : `/api/auth/workbox`;
      this.getRestApi(url)
        .then(res => {
          if (res.status == 200) {
            that.loading = false;
            that.checkshow = true;
            that.dataListMember = res.data.response;
          }
        })
        .catch(error => {
          if (error.message) that.$message.error("error 500 ?");
        });
    });
  },
  computed: {
    filteredList() {
      if (this.dataListMember.length > 0) {
        // let newRaw = this.dataListMember.member.find((item, index) => ({
        //   ...item
        // }));
        return this.dataListMember.filter(item => {
          if (item.sites != null) {
            return (
              item.sites.name
                .toLowerCase()
                .includes(this.onSearch.toLowerCase()) ||
              item.sites.about
                .toLowerCase()
                .includes(this.onSearch.toLowerCase())
            );
          }
        });
      } else {
        return [];
      }
    }
  },
  methods: {
    headleDetails(id) {
      if (id) {
        this.$router.push(`/factory-details/${id}`);
      }
    },
    getRestApi(api) {
      let headers = {
        headers: {
          Authorization: this.authorization
        }
      };
      return axios.get(`${this.$store.getters.getIpServe + api}`, headers);
    }
  }
};
</script>