<template>
  <div class="ant-list-item">
    <div class="ant-list-item-meta">
      <div class="ant-list-item-meta-content">
        <h4 class="ant-list-item-meta-title">{{title}}</h4>
        <div class="ant-list-item-meta-description">{{content}}</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Listitem",
  props: ["title", "content"]
};
</script>