<template>
  <a-layout id="components-layout-demo-custom-trigger">
    <a-layout-sider :trigger="null" collapsible v-model="collapsed" theme="light">
      <div class="logo" />
      <a-menu theme="light" mode="inline" :defaultOpenKeys="['sub1']" style="padding: 16px 0px;">
        <a-menu-item key="0">
          <router-link to="/dashboard">
            <a-icon type="dashboard" />
            <span>รายการคำขอ</span>
          </router-link>
        </a-menu-item>
        <a-menu-item key="1">
          <router-link to="/list-factory-by">
            <a-icon type="form" />
            <span>รายการตรวจสอบ</span>
          </router-link>
        </a-menu-item>

        <a-menu-item key="2">
          <router-link to="/list-factory">
            <a-icon type="form" />
            <span>รายการตรวจสอบทั้งหมด</span>
          </router-link>
        </a-menu-item>
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #fff; padding: 0">
        <a-icon
          class="trigger"
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="()=> collapsed = !collapsed"
        />
        <profile-menu class="btn-logout"></profile-menu>
      </a-layout-header>
      <a-layout-content :style="{ margin: '18px 16px', padding: '10px', minHeight: '100vh'}">
        <router-view ref="content" />
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>

<script>
import RouteView from "./RouteView";
import ProfileMenu from "@/components/tools/ProfileMenu";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "LayoutMain",
  components: { RouteView, ProfileMenu },
  data() {
    return {
      collapsed: false,
      menus: []
    };
  },
  computed: {
    contentPaddingLeft() {
      if (!this.fixSidebar || this.isMobile()) {
        return "0";
      }
      if (this.sidebarOpened) {
        return "256px";
      }
      return "80px";
    }
  }
};
</script>

<style scoped>
.btn-logout {
  margin-right: 25px;
  z-index: 100;
  float: right;
  top: 15px;
  margin-right: 25px;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
</style>


