<template>
  <!-- // #id_btn = 2 คำขอบกพร่อง -->
  <div>
    <a-tabs defaultActiveKey="1">
      <a-tab-pane key="1">
        <span slot="tab">
          <a-icon type="form" />ข้อมูลเบื้องต้น
        </span>
        <div class="ant-list ant-list-split" v-if="dataRequest.length > 0">
          <div class="ant-spin-nested-loading">
            <div class="ant-spin-container">
              <a-row :gutter="16">
                <a-col class="gutter-row" :span="6">
                  <strong>ประเภท</strong>
                  <p>{{checkAuthorize(removeArray(dataRequest).is_company)}}</p>
                </a-col>
                <a-col :span="6" v-if="removeArray(dataRequest).is_company==1">
                  <strong>เป็นนิติบุคคลประเภท</strong>
                  <p>{{removeArray(removeArray(dataRequest).owner).type.name}}</p>
                </a-col>
                <a-col :span="6" v-if="removeArray(dataRequest).is_company==1">
                  <strong>ชื่อบริษัท</strong>
                  <p>{{removeArray(removeArray(dataRequest).owner).name}}</p>
                </a-col>
                <a-col :span="6" v-if="removeArray(dataRequest).is_company==1">
                  <strong>เลขทะเบียน</strong>
                  <p>{{removeArray(removeArray(dataRequest).owner).id_number}}</p>
                </a-col>
              </a-row>

              <a-row
                v-for="board in removeArray(removeArray(dataRequest).owner).board"
                :key="board.id"
              >
                <a-col :span="6">
                  <strong>ชื่อ - นามสกุล</strong>
                  <p>{{board.first_name}} - {{board.last_name}}</p>
                </a-col>
                <a-col :span="6">
                  <strong>เลขบัตรประจำตัวประชาชน</strong>
                  <p>{{board.idcard}}</p>
                </a-col>
              </a-row>
              <hr />
              <a-row>
                <a-col :span="6">
                  <strong>การขอรับใบอนุญาต</strong>
                  <p>{{removeArray(dataRequest).permittype.name}}</p>
                </a-col>
              </a-row>

              <hr />
              <a-row>
                <a-col :span="5">
                  <strong>ณ สถานประกอบการ</strong>
                  <p>{{removeArray(dataRequest).sites.name}}</p>
                </a-col>
                <a-col :span="5">
                  <strong>TSIC-ID</strong>
                  <p>{{removeArray(dataRequest).sites.tsic}}</p>
                </a-col>
                <a-col :span="4">
                  <strong>TSIC-ID</strong>
                  <p>{{removeArray(dataRequest).sites.tsic}}</p>
                </a-col>
                <a-col :span="3">
                  <strong>ตั้งอยู่เลขที่</strong>
                  <p>{{removeArray(dataRequest).sites.address.addr1}}</p>
                </a-col>
                <a-col :span="3">
                  <strong>ซอย</strong>
                  <p>{{removeArray(dataRequest).sites.address.addr2}}</p>
                </a-col>
                <a-col :span="3">
                  <strong>ถนน</strong>
                  <p>{{removeArray(dataRequest).sites.address.addr3}}</p>
                </a-col>
                <a-col :span="5">
                  <strong>หมู่ที่</strong>
                  <p>{{removeArray(dataRequest).sites.address.addr4}}</p>
                </a-col>
                <a-col :span="5">
                  <strong>จังหวัด</strong>
                  <p>{{removeArray(dataRequest).sites.address.district.city.province.name}}</p>
                </a-col>
                <a-col :span="5">
                  <strong>อำเภอ/เขต</strong>
                  <p>{{removeArray(dataRequest).sites.address.district.city.name}}</p>
                </a-col>
                <a-col :span="5">
                  <strong>ตำบล/แขวง</strong>
                  <p>{{removeArray(dataRequest).sites.address.district.name}}</p>
                </a-col>
                <a-col :span="5">
                  <strong>ไปรษณีย์</strong>
                  <p>{{removeArray(dataRequest).sites.address.code}}</p>
                </a-col>
                <a-col :span="6">
                  <strong>เพื่อประกอบกิจการ</strong>
                  <p>{{removeArray(dataRequest).sites.about}}</p>
                </a-col>
              </a-row>
              <a-row>
                <a-col :span="6">
                  <strong>มือถือ</strong>
                  <p>{{removeArray(dataRequest).sites.communication.mobile}}</p>
                </a-col>
                <a-col :span="6">
                  <strong>โทรศัพท์</strong>
                  <p>{{removeArray(dataRequest).sites.communication.tel}}</p>
                </a-col>
                <a-col :span="6">
                  <strong>โทรสาร</strong>
                  <p>{{removeArray(dataRequest).sites.communication.fax}}</p>
                </a-col>
              </a-row>
              <hr />
              <a-row>
                <a-col :span="8">
                  <strong>การเชื่อมต่อกับโครงข่ายไฟฟ้า</strong>
                  <p>{{removeArray(dataRequest).purpose.name}}</p>
                </a-col>
              </a-row>
            </div>
          </div>
        </div>
      </a-tab-pane>
      <a-tab-pane key="2" v-if="dataRequest.length > 0">
        <span slot="tab">
          <a-icon type="exception" />รายละเอียดเครื่องต้นกำลัง
        </span>

        <!-- <h4>{{removeArray(removeArray(dataRequest).drivers).plant.name}}</h4> -->
        <h5>เครื่องต้นกำลังชนิดทั่วไป</h5>
        <div v-for="(d_maste,d_key) in removeArray(dataRequest).drivers" :key="d_key">
          <strong class="text-danger bg-warning">เครื่องที่ {{d_key+1}}</strong>
          <table class="table table-sm table-striped table-responsive-sm">
            <tbody>
              <tr v-for="(model,index) in d_maste.plant.dtp" :key="index">
                <th class="col-1">{{model.label}}</th>
                <td class="col-1">{{model[model.key]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </a-tab-pane>
      <a-tab-pane key="3">
        <span slot="tab">
          <a-icon type="profile" />เอกสารประกอบคำขอ
        </span>
        <a-row :gutter="8">
          <a-col v-for="(att,att_key) in attachedFiles.attached" :key="att_key" :span="23">
            <a-button type="dashed" block style=" text-align: left;">{{att.name}}</a-button>
            <a-row>
              <a-col v-for="(item_picm,index) in att.data" :key="index">
                <div class="ant-upload-list ant-upload-list-picture-card">
                  <div class="ant-upload-list-item-info" @click="handlePreview(item_picm)">
                    <span>
                      <img :src="ipServer+item_picm.url" class="img-responsive img-thumbnail" />
                    </span>

                    <span class="ant-upload-list-item-actions">
                      <i class="anticon anticon-eye-o">
                        <a-icon type="eye" @click="handlePreview(item_picm)" />
                      </i>
                    </span>
                    <!---->
                  </div>
                </div>

                <a-modal
                  :width="700"
                  :visible="previewVisible"
                  :footer="null"
                  @cancel="handleCancel"
                >
                  <img style="width: 100%" :src="previewImage" />
                </a-modal>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>
  
<script>
import axios from "axios";
import Listitem from "./../DescriptionList/Listitem";
export default {
  name: "Shortcomings",
  props: ["requestId", "dataRequest", "attachedFiles"],
  components: {
    Listitem
  },
  data() {
    return {
      title: "คำขอบกพร่อง",
      request_id: this.requestId,
      previewVisible: false,
      previewImage: "",
      ipServer: this.$store.getters.getIpServe
    };
  },
  mounted() {
    this.$nextTick(() => {
      console.log("ok");
    });
  },
  methods: {
    checkAuthorize(item) {
      return item == 1 ? "นิติบุคคล" : "บุคคลธรรมดา";
    },
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = this.ipServer + file.url;
      this.previewVisible = true;
    },
    removeArray(item) {
      if (item.length > 0) {
        return item.find(i => i);
      }
    }
  }
};
</script>
<style >
.img-responsive {
  width: 100%;
  max-width: 120px;
  height: auto;
}
.ant-tabs-tab {
  text-align: left !important;
}
.ant-upload-list {
  width: 100%;
  max-width: 120px;
  cursor: pointer;
}
.tb_headSet1 {
  font-size: 11px;
  font-weight: 300;
  color: black;
}

.ant-upload-list-check {
  margin-top: 8px;
  font-size: 14px;
  position: relative;
  height: 104px;
}
.text-right {
  text-align: right;
}
</style>